<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<system.web>

    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation defaultLanguage="vb" debug="false" />
  <httpRuntime maxRequestLength="500000" executionTimeout="1800" />
  
   
</system.web>

</configuration>
