body 
{
    font-size:14px;
    font-family: Verdana,arial,sans-serif;
    padding:0px;
    margin:0px;
}
span,input{float:left;}

/*通用分页按钮样式-迅雷风格(蓝色)*/
.anpager { margin-top:10px; }
.anpager .cpb {background:#1F3A87 none repeat scroll 0 0;border:1px solid #CCCCCC;color:#FFFFFF;font-weight:bold;margin:-6px 4px 0 0;padding:0px 5px 0; width:20px; height:21px;}
.anpager a {background:#FFFFFF none repeat scroll 0 0;border:1px solid #CCCCCC;color:#1F3A87;margin:5px 4px 0 0;padding:4px 5px 0;text-decoration:none}
.anpager a:hover{background:#1F3A87 none repeat scroll 0 0;border:1px solid #1F3A87;color:#FFFFFF;}

/*通用表格样式--列表*/
.table { text-align:center; margin:9px; width:100%; background-color:#4297d7;}
.table th,tr,td{line-height:26px; padding-left:9px; padding-right:9px; border:none;}
.table th{ background-color:#6194c1; color:#ffffff; font-size:15px;}
.table tr:hover{background-color:#95bfdf; }
.table td{ overflow:hidden; font-size:13px; background-color:#ffffff;}
.table thead,tfoot{ background-color:#6194c1; color:#FFFFFF;}

/*通用表格样式--编辑*/
.edit {border-collapse:collapse; margin:9px; background-color:#FFFFFF;}
.edit th,tr,td{line-height:26px; padding-left:5px;padding-right:5px; border:none;}
.edit th{ background-color:#6194c1; color:#ffffff; font-size:15px;}
.edit td{ overflow:hidden;}
.edit td.left{ text-align:right; width:200px;}
.edit td.center{ text-align:left; width:310px;}
.edit td.right{ text-align:left;}

/*通用input元素样式--文本框*/
.input{border: #C1C1C1 1px solid; background-color: #FBFBFB; color: #444; padding: 4px 5px 4px; float:left;}
.input:hover{background-color:#FFC; border:1px solid #d5ae4f;}

/*验证元素提示框*/
.validate{float:left; width:150px; font-size:12px;}

/*通用消息提示*/
.alert{height:30px; margin:2px; float:left; width:99%;}
.alert p,strong,span{height:26px; line-height:26px; padding:0px; margin:0px; }
.alert span{ margin-top:6px; margin-left:6px;}

/*页面功能按钮容器*/
.panel{ margin:2px; float:left; height:31px; width:98%; padding-top:3px;}

/*选项卡*/
#tab{ float:left;  margin:4px; width:98%;}

/*树控件*/
.treeview{float:left; overflow:scroll; font-size:15px;}
.treeview tr{ float:left;}