body 
{
    font-size:14px;
    font-family: Verdana,arial,sans-serif;
}
span,input{float:left;}

/*通用分页按钮样式-迅雷风格(蓝色)*/
.anpager .cpb {background:#1F3A87 none repeat scroll 0 0;border:1px solid #CCCCCC;color:#FFFFFF;font-weight:bold;margin:5px 4px 0 0;padding:4px 5px 0;}
.anpager a {background:#FFFFFF none repeat scroll 0 0;border:1px solid #CCCCCC;color:#1F3A87;margin:5px 4px 0 0;padding:4px 5px 0;text-decoration:none}
.anpager a:hover{background:#1F3A87 none repeat scroll 0 0;border:1px solid #1F3A87;color:#FFFFFF;}

/*通用表格样式--列表*/
.table { text-align:center; border-collapse:collapse; margin:9px; width:100%; background-color:#FFFFFF;}
.table th,tr,td{border:1px solid #d3d8dc; line-height:26px; padding-left:9px;padding-right:9px;}
.table th{ background-color:#6194c1; color:#ffffff; font-size:15px;}
.table tr:hover{background-color:#f8f8f8; cursor:pointer;}
.table td{ overflow:hidden;}
/*table thead,tfoot{ background-color:#6194c1;}*/

/*通用表格样式--编辑*/
.edit {border-collapse:collapse; margin:9px; background-color:#FFFFFF;}
.edit th,tr,td{line-height:26px; padding-left:5px;padding-right:5px; border:none;}
.edit th{ background-color:#6194c1; color:#ffffff; font-size:15px;}
.edit td{ overflow:hidden;}
.edit td.left{ text-align:right; width:200px;}
.edit td.center{ text-align:left; width:310px;}
.edit td.right{ text-align:left;}

/*通用input元素样式--文本框*/
.input{border: #C1C1C1 1px solid; background-color: #FBFBFB; color: #444; padding: 4px 5px 4px;}
.input:hover{background-color:#FFC; border:1px solid #d5ae4f;}

/*通用消息提示*/
.alert{height:26px; display:none; padding:0px; margin:5px 0px 5px 0px; float:left;}
.alert p,strong,span{height:26px; line-height:26px; padding:0px; margin:0px;}
.alert span{ margin-top:6px; margin-left:6px;}

/*验证元素提示框*/
.validate{float:left; width:150px; font-size:12px;}