@charset "gb2312";
/* CSS Document */

body, div, address, blockquote, iframe, ul, li, dl, dt, dd, 
h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, 
form, legend, fieldset, button, select, img, textarea,div {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    font-family:"宋体";
	color:#333333;
	line-height:22px;
	 list-style-type:none;
	 border:none;
}
body{ background:#f7f7f7;}
.left{ float:left;}
.right{ float:right;}
.mar_t10{ margin-top:10px;}
.mar_t15{ margin-top:15px;}
.mar_l10{ margin-left:10px;}
.mar_r5{ margin-right:5px;}
.mar_r10{ margin-right:10px;}
.mar_r20{ margin-right:20px;}
.mar_b10{ margin-bottom:10px;}
.bor{ border:1px #CCC solid; padding:1px;}

a{ color:#333; text-decoration:none;}
a:hover{ color:#F90; text-decoration:underline;}
.f60{ color:#F60}
.clear{ clear:both;}

#box{width:800px; margin:0 auto; }
#main{ margin-top:10px; overflow:hidden;}
.wid550{ width:550px; overflow:hidden;}
.wid240{ width:240px; overflow:hidden;}

.top_line{ background:url(../images/top_line.jpg) repeat-x; height:23px; width:800px; line-height:23px; overflow:hidden;}
.banner{ width:800px; height:153px; margin:0 auto; overflow:hidden;}
#menu{ width:800px; margin:0 auto; background:url(../images/menu_bg.jpg) repeat-x; height:32px; overflow:hidden;}
#menu ul li{ float:left; overflow:hidden;}
#menu ul li a{ color:#FFF; font-size:14px; line-height:32px; width:120px; text-align:center; display:block; font-weight:bold;}
#menu ul li a:hover{ text-decoration:none; background:#F00;}
#menu ul li.tree{ background:url(../images/menu_tree.jpg) no-repeat; height:32px; width:2px; overflow:hidden;}

/*简介&联系方式*/
#jianjie dt{ background:url(../images/jianjie_t.jpg) no-repeat; height:42px; overflow:hidden;}
#contact dt{ background:url(../images/contact_t.jpg) no-repeat; height:42px; overflow:hidden;}
.jianjie_l{ background:url(../images/jianjie_l.jpg) left center no-repeat; height:198px; overflow:hidden;}
.jianjie_r{ background:url(../images/jianjie_r.jpg) right center no-repeat; height:198px; overflow:hidden;}
#jianjie dd,#contact dd{ background:url(../images/jianjie_bg.jpg) repeat-x; height:198px; overflow:hidden;}


/*政策法规&工作动态*/
#fagui,#dongtai{ width:395px; overflow:hidden;}
#fagui dt{background:url(../images/fagui_t.jpg) no-repeat; height:41px; overflow:hidden;}
#dongtai dt{background:url(../images/dongtai_t.jpg) no-repeat; height:41px; overflow:hidden;}
#fagui dd,#dongtai dd{background:url(../images/new_c.jpg) repeat-x; height:187px; overflow:hidden;}
.new_l{background:url(../images/new_l.jpg) left center no-repeat; height:187px; overflow:hidden;}
.new_r{background:url(../images/new_r.jpg) right center no-repeat; height:187px; overflow:hidden;}

#fagui dd ul,#dongtai dd ul{  margin:5px 20px; overflow:hidden;}
#fagui dd ul li,#dongtai dd ul li{background:url(../images/ico1.jpg) left center no-repeat; line-height:24px; border-bottom:1px #CCC dashed; padding-left:1em; overflow:hidden;}
#fagui dd ul li span,#dongtai dd ul li span{ float:right;}


/*底部*/
#footer{background:url(../images/footer_bg.jpg) repeat-x; height:28px; overflow:hidden;}
.footer_l{ background:url(../images/footer_l.jpg) left center no-repeat; height:28px; overflow:hidden;}
.footer_r{ background:url(../images/footer_r.jpg) right center no-repeat; height:28px; overflow:hidden;}
.footer_r p{line-height:28px; color:#FFF; text-align:center; }

/*路政风采图片滚动*/
#fengcai{ width:800px; margin:0 auto; overflow:hidden;}
#fengcai dt{ background:url(../images/photo_t.jpg) no-repeat;width:800px; height:38px; overflow:hidden;}
#fengcai dd{ background:url(../images/photo_c.jpg) repeat-x; overflow:hidden;}
.fengcai_l{ background:url(../images/photo_l.jpg) left center no-repeat; height:122px; overflow:hidden;}
.fengcai_r{ background:url(../images/photo_r.jpg) right center no-repeat; height:122px; overflow:hidden;}

.gundong{ width:740px; line-height:22px;text-align:center; margin:0px auto;overflow:hidden;}
.gundong a{ color:#F60;}
.gundong table tr td img{ width:120px; height:90px; overflow:hidden; padding:1px; border:1px #D5E2ED solid;}
.gundong2 tr td { text-align:center; padding-left:5px; padding-top:5px;}

/*位置导航*/
.weizhi{ background:url(../images/weizhi_bg.jpg) no-repeat; padding-left:3em; margin-bottom:10px; line-height:26px; height:26px; overflow:hidden;}

.contact_weizhi{ background:url(../images/contact_weizhi.jpg) no-repeat; padding-left:3em; margin-bottom:10px; line-height:26px; height:26px; overflow:hidden;}

/*---------------单页------------------*/
.pages{ width:720px; margin:0 auto;}
.pages h1{ font-size:14px; text-align:center; margin-top:20px; font-weight:bold; color:#F90;}
.page_date{ color:#999; text-align:center; padding-bottom:10px; border-bottom:1px #F00 dashed;}
.page_con{ margin-top:10px;}
.page_bottom{ text-align:right;}
.page_bottom a{ color:#F00;}
/*---------------新闻列表------------------*/
.newlist{ width:720px; margin:0 auto;}
.newlist li{ line-height:28px; background:url(../images/ico1.jpg) left center no-repeat; padding-left:1em; border-bottom:1px #CCC dashed;overflow:hidden;}
.newlist li span{ float:right;}
/*---------------图片列表------------------*/
.piclist li{ float:left; width:124px; margin:10px; _margin:8px; text-align:center; overflow:hidden;}
.piclist li img{ width:120px; height:90px; padding:1px; border:1px #CCC solid; overflow:hidden;}

/*-----------翻页-------------*/
.fanye{ width:720px; margin:0 auto; color:#000; text-align:center; margin-top:10px; background:#ffeeee; overflow:hidden;}
.fanye span{ margin:0 10px;}


.jianjie_biaoti{ font-size:14px; font-weight:bold; color:#000; margin:10px;}

#jianjie_tab table{ background:#CCC;}
#jianjie_tab table tr{ background:#ffffff;}
#jianjie_tab table tr td{color:#000; padding-left:1em;}
#jianjie_tab table tr td{ color:#900; padding-left:1em;}



