@charset "gb2312";
/* CSS Document */
body{
margin:0 auto;
padding:0px; font-size:12px; font-family:"宋体";
}

ul{list-style:none; margin:0; padding:0px}
img{ border:0px;}
a{color:#000; font-size:12px; text-decoration:none;}
a:hover{ color:#000; font-size:12px; text-decoration:underline;}
.more{ float:right;}
.less{ float:inherit;}
.none {display:none;}
.clear{ clear:both;}


#mainbody{
margin:0 auto;
width:990px;
height:auto;
}
#mainbody .top{
width:990px;
background-image:url(../images/top_001.jpg);
background-repeat:no-repeat;
height:19px;
}
#mainbody .top .guohui{height:19px; width:19px; float:left;}
#mainbody .top .linkFirst{height:19px; width:971px; float:left; text-align:left; vertical-align:middle;}

#menu{ width:100%; height:33px; background:url(../images/nv_bg.png); text-align:center;}
#menu ul{ margin-left:10px;}
#menu ul li{ float:left; height:33px; line-height:33px;font-weight:bold; margin:0 2px;}
#menu ul li a{ color:#fefefe;}
#menu ul li.line{ background:url(../images/menu_line.jpg) no-repeat center; width:3px; height:29px; margin-top:2px; margin-left:3px; margin-right:3px;}

a.first:link {
font-size:13px;
font-weight:bolder;

text-decoration:none;
color:#ffffff;
}
a.first:visited {color: #ffffff;text-decoration:none;}
a.first:hover {color: #000000;text-decoration:none;}

a.one:link {
font-size:12px;
font-weight:lighter;

text-decoration:none;
color:#ffffff;
}
a.one:visited {color: #ffffff;text-decoration:none;}
a.one:hover {color: #000000;text-decoration:none;}


a.two:link {
font-size:12px;
font-weight:bold;

text-decoration:none;
color:#000000;
}
a.two:visited {color: #000000;}
a.two:hover {color: #2697e6;}


a.three:link {
font-size:12px;
font-weight:lighter;
text-decoration:none;
color:#DC143C;
}
a.three:visited {color: #DC143C;}
a.three:hover {color: #2697e6;}


a.four:link {
font-size:12px;
font-weight:lighter;
text-decoration:none;
color:#000000;
}
a.four:visited {color: #0000000;}
a.four:hover {color: #2697e6;}

a.five:link {
font-size:12px;
font-weight:lighter;
text-decoration:none;
color:#ffffff;
}
a.five:visited {color: #ffffff;}
a.five:hover {color: #000000;}


a.six:link {
font-size:12px;
font-weight:lighter;
text-decoration:none;
color:#000000;
}
a.six:visited {color: #000000;}
a.six:hover {color: #4eadec;}


a.seven:link {
font-size:12px;
font-weight:lighter;
text-decoration:none;
color:#004276;
}
a.seven:visited {color: #004276;}
a.seven:hover {color: #000000;}

a.eight:link {
font-size:12px;
font-weight:lighter;
text-decoration:none;
color:#000000;
}
a.eight:visited {color: #000000;}
a.eight:hover {color: #004276;}


#mainbody .banner{width:990px;height:146px;background-image:url(../images/banner.png); margin-top:0px;}
#mainbody .banner .serviceName{margin-left:125px; width:285px; height:60px; padding-top:34px;}

.split{
background-image:url(../images/line.png);
width:990px;
height:7px;
}


#tabsH {
float:left;
width:100%;
background:#000;
font-size:93%;
line-height:normal;
background-image:url(../images/nv_bg.png);
background-repeat:no-repeat;
width:990px;
height:37px;
}
#tabsH ul {
margin:0;
padding:10px 10px 0 50px;
list-style:none;
}
#tabsH li {
display:inline;
margin:0;
padding:0;
}
#tabsH a {
float:left;
background:url("../images/tableftH.gif") no-repeat left top;
margin:0;
padding:0 0 0 4px;
text-decoration:none;
}
#tabsH a span {
float:left;
display:block;
background:url("../images/tabrightH.gif") no-repeat right top;
padding:5px 15px 4px 6px;
color:#FFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsH a span {float:none;}
/* End IE5-Mac hack */
#tabsH a:hover span {
color:#FFF;
}
#tabsH a:hover {
background-position:0% -42px;
}
#tabsH a:hover span {
background-position:100% -42px;
}


#markingCell_02{
border-top-width:0px;
border-right-width:0px;
border-bottom-width:0px;
border
}
#markingCell_02{
border-left-width:0px;
border-right-width:0px;
border-bottom-width:0px;
}
#servicedetail{ width:200px; height:137px;}
#servicedetail li{ line-height:36px; border-bottom:1px dashed #CCCCCC; text-align:center;}




.management{
margin-top:2px;
height:242px;
width:200px;
border:1px solid #E75C21;
}
#manageTitle{
width:200px;
height:25px;
background-image:url(../images/manage.png);
background-repeat:no-repeat;
}
#manage_content_list{
width:200px;
height:199px;
}
#manage_content_list ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:200px;}
#manage_content_list ul li{ float:left; text-align:left; margin-left:1px; line-height:20px; width:200px; overflow:hidden;}

#manage_content_more{
width:200px;
height:18px;
text-align:right;
}


.leader{
margin-top:2px;
height:197px;
width:200px;
border:1px solid #E75C21;
}
#leader_title{
width:200px;
height:25px;
background-image:url(../images/leader.png);
background-re5EFpeat:no-repeat;
}
#leader_content_list{
width:200px;
height:154px;
}

#leader_content_list ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:200px;}
#leader_content_list ul li{ float:left; text-align:left; margin-left:1px; line-height:20px; width:200px; overflow:hidden;}


#leader_content_more{
	width:200px;
	height:18px;
	text-align:right;

}

.link{
	margin-top:2px;
	height:186px;
	width:200px;
	border:1px solid #E75C21;
}
#link_title{
	width:200px;
	height:25px;
	background-image:url(../images/link.png);
	background-repeat:no-repeat;
}
#link_content_list{
	width:200px;
	height:139px;
}

#link_content_list ul{ width:200px; margin-left:5px; margin:2px;}
#link_content_list ul li{ height:20px; line-height:20px; vertical-align:middle; width:200px; overflow:hidden;}

#link_content_more{
	width:200px;
	height:18px;
	text-align:right;
}


.baseInfo{
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

.advertisment{
	width:780px;
	height:82px;
	margin-top:2px;
}

#news_tab{ width:580px; height:265px; clear:both;}
#news_tab .news_title{ height:33px; width:580px; border-bottom:3px solid #66c0fc; background-image:url(../images/news_tab_focus.gif); background-repeat:repeat;}
#news_tab .news_title .newsnav{ width:120px; height:33px;float:left; font-family:"Times New Roman", Times, serif; font-size:14px; text-align:center; vertical-align:middle; }
#news_tab .news_title .morenews{ width:120px; height:33px; float:right; text-align:right;}
#news_tab .news_title .normal a{ color:#000000;}
#news_tab .news_title .active a{ color:#ffffff;}
#news_tab .news_title .normal{height:33px; line-height:33px;width:100px;background:url(../images/news_tab_leave.gif);}
#news_tab .news_title .active{height:33px;width:100px; line-height:33px;background:url(../images/news_tab_focus.gif);}
#news_tab .TabContent{ }
#news_tab .TabContent ul li{ height:23px; line-height:23px; border-bottom:1px dashed #ccc;}
#news_tab .TabContent .left{ width:244px; margin-left:4px; margin-bottom:4px; margin-top:1px; height:220px; float:left; background-color:#f2f2f2;}
#news_tab .TabContent .right{ width:310px; margin-top:8px; margin-left:4px; margin-bottom:8px;  float:left;}
#news_tab .TabContent .right ul li{ width:310px; overflow:hidden;}
#news_tab .TabContent .left .news_linkImage{ width:240px; height:180px;}
#news_tab .TabContent .left .news_linkImage_Title{ width:240px; height:32px; text-align:center; vertical-align:middle;}


.notice{
background-image:url(../images/index_tit_r_1.gif);
background-repeat:no-repeat;
height:265px;
}
#notice_more{
line-height:36px;
height:36px;
text-align:right;
vertical-align:middle;
}
#notice_content_list{
height:229px;
width:200px;
}
.scrollDiv{
width:200px;
}
#demo1 li{ line-height:20px; height:20px;}


.module_detatil{
height:660px;
width:780px;
}

.M1{height:165px;border:1px solid #afceea;}
.title_bg{width:387px;height:29px;background-image:url(../images/bg.jpg);background-repeat:repeat;}
.title_bg .index_module_logo{ height:29px; width:83px; float:left;}
.title_bg .index_module_more{ width:303px; height:29px; float:left; vertical-align:middle; text-align:right; line-height:29px;}
.title_bg .index_module_more a:link {font-size:12px;font-weight:bold;text-decoration:none;color:#ffffff;}
.title_bg .index_module_more a.two:visited {color: #ffffff;}
.title_bg .index_module_more a.two:hover {color: #000000;}

.M2{
height:165px;
border:1px solid #afceea;
}
.detail_left{width:387px; height:136px; border-top:1px solid #afceea; margin-top:1px;}
.detail_right{width:387px; height:136px; border-top:1px solid #afceea; margin-top:1px;}


#tabcard{ width:387px; height:136px;}
#tabcard .TabTitle{ width:387px; height:23px;}
#tabcard .TabTitle ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:387px;}
#tabcard .TabTitle ul li{ float:left; text-align:center; margin-left:1px; }
#tabcard .TabTitle .normal a{ color:#004276; font-weight:lighter;}
#tabcard .TabTitle .active a{ color:#000000;}
#tabcard .TabTitle .normal{height:23px; line-height:23px;width:72px;background:url(../images/tab.jpg);}
#tabcard .TabTitle .active{height:23px;width:72px; line-height:23px;}
#tabcard .TabContent{ margin-top:0px;}
#tabcard .TabContent ul li{ height:17px;border-bottom:1px dashed #ccc; line-height:17px;}


#tabcard_hotel{ width:387px; height:136px;}
#tabcard_hotel .TabTitle{ width:387px; height:23px;}
#tabcard_hotel .TabTitle ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:387px;}
#tabcard_hotel .TabTitle ul li{ float:left; text-align:center; margin-left:1px; }
#tabcard_hotel .TabTitle .normal a{ color:#004276; font-weight:lighter;}
#tabcard_hotel .TabTitle .active a{ color:#000000;}
#tabcard_hotel .TabTitle .normal{height:23px; line-height:23px;width:72px;background:url(../images/tab.jpg);}
#tabcard_hotel .TabTitle .active{height:23px;width:72px; line-height:23px;}
#tabcard_hotel .TabContent{ margin-top:0px;}
#tabcard_hotel .TabContent ul li{  height:17px;border-bottom:1px dashed #ccc; line-height:17px;}

#tabcard_supermarket{ width:387px; height:136px;}
#tabcard_supermarket .TabTitle{ width:387px; height:23px;}
#tabcard_supermarket .TabTitle ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:387px;}
#tabcard_supermarket .TabTitle ul li{ float:left; text-align:center; margin-left:1px; }
#tabcard_supermarket .TabTitle .normal a{ color:#004276; font-weight:lighter;}
#tabcard_supermarket .TabTitle .active a{ color:#000000;}
#tabcard_supermarket .TabTitle .normal{height:23px; line-height:23px;width:72px;background:url(../images/tab.jpg);}
#tabcard_supermarket .TabTitle .active{height:23px;width:72px; line-height:23px;}
#tabcard_supermarket .TabContent{ margin-top:0px;}
#tabcard_supermarket .TabContent ul li{  height:17px;border-bottom:1px dashed #ccc; line-height:17px;}

#tabcard_oil{ width:387px; height:136px;}
#tabcard_oil .TabTitle{ width:387px; height:23px;}
#tabcard_oil .TabTitle ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:387px;}
#tabcard_oil .TabTitle ul li{ float:left; text-align:center; margin-left:1px; }
#tabcard_oil .TabTitle .normal a{ color:#004276; font-weight:lighter;}
#tabcard_oil .TabTitle .active a{ color:#000000;}
#tabcard_oil .TabTitle .normal{height:23px; line-height:23px;width:72px;background:url(../images/tab.jpg);}
#tabcard_oil .TabTitle .active{height:23px;width:72px; line-height:23px;}
#tabcard_oil .TabContent{ margin-top:0px;}
#tabcard_oil .TabContent ul li{  height:17px;border-bottom:1px dashed #ccc; line-height:17px;}

#tabcard_handle{ width:387px; height:136px;}
#tabcard_handle .TabTitle{ width:387px; height:23px;}
#tabcard_handle .TabTitle ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:387px;}
#tabcard_handle .TabTitle ul li{ float:left; text-align:center; margin-left:1px; }
#tabcard_handle .TabTitle .normal a{ color:#004276; font-weight:lighter;}
#tabcard_handle .TabTitle .active a{ color:#000000;}
#tabcard_handle .TabTitle .normal{height:23px; line-height:23px;width:72px;background:url(../images/tab.jpg);}
#tabcard_handle .TabTitle .active{height:23px;width:72px; line-height:23px;}
#tabcard_handle .TabContent{ margin-top:0px;}
#tabcard_handle .TabContent ul li{  height:17px;border-bottom:1px dashed #ccc; line-height:17px;}

#tabcard_parking{ width:387px; height:136px;}
#tabcard_parking .TabTitle{ width:387px; height:23px;}
#tabcard_parking .TabTitle ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:387px;}
#tabcard_parking .TabTitle ul li{ float:left; text-align:center; margin-left:1px; }
#tabcard_parking .TabTitle .normal a{ color:#004276; font-weight:lighter;}
#tabcard_parking .TabTitle .active a{ color:#000000;}
#tabcard_parking .TabTitle .normal{height:23px; line-height:23px;width:72px;background:url(../images/tab.jpg);}
#tabcard_parking .TabTitle .active{height:23px;width:72px; line-height:23px;}
#tabcard_parking .TabContent{ margin-top:0px;}
#tabcard_parking .TabContent ul li{  height:17px;border-bottom:1px dashed #ccc; line-height:17px;}

#tabcard_wc{ width:387px; height:136px;}
#tabcard_wc .TabTitle{ width:387px; height:23px;}
#tabcard_wc .TabTitle ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:387px;}
#tabcard_wc .TabTitle ul li{ float:left; text-align:center; margin-left:1px; }
#tabcard_wc .TabTitle .normal a{ color:#004276; font-weight:lighter;}
#tabcard_wc .TabTitle .active a{ color:#000000;}
#tabcard_wc .TabTitle .normal{height:23px; line-height:23px;width:72px;background:url(../images/tab.jpg);}
#tabcard_wc .TabTitle .active{height:23px;width:72px; line-height:23px;}
#tabcard_wc .TabContent{ margin-top:0px;}
#tabcard_wc .TabContent ul li{  height:18px;border-bottom:1px dashed #ccc; line-height:18px;}

#tabcard_service{ width:387px; height:136px;}
#tabcard_service .TabTitle{ width:387px; height:23px;}
#tabcard_service .TabTitle ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:387px;}
#tabcard_service .TabTitle ul li{ float:left; text-align:center; margin-left:1px; }
#tabcard_service .TabTitle .normal a{ color:#004276; font-weight:lighter;}
#tabcard_service .TabTitle .active a{ color:#000000;}
#tabcard_service .TabTitle .normal{height:23px; line-height:23px;width:72px;background:url(../images/tab.jpg);}
#tabcard_service .TabTitle .active{height:23px;width:72px; line-height:23px;}
#tabcard_service .TabContent{ margin-top:0px;}
#tabcard_service .TabContent ul li{  height:18px;border-bottom:1px dashed #ccc; line-height:18px;}

.bottom_style{
background-image:url(../images/nv_bg.png);
background-repeat:no-repeat;
width:990px;
height:37px;
}
.copyright{
height:105px;
width:990px;
}






#serviceNewslist{height:1010px;width:780px; border:1px solid #d2dbe4;}
#serviceNewslist .moduleName{ width:780px; height:30px;background-image:url(../images/titlebar_bg.jpg); background-repeat:repeat; vertical-align:baseline; border-bottom:1px solid #d2dbe4;}
#serviceNewslist .newsList{ width:780px; height:950px; border-bottom:1px solid #d2dbe4}
#serviceNewslist .newsList li{ width:750px; line-height:25px; border-bottom:1px dashed #ffffff; margin-left:10px;}
#serviceNewslist .pagenation{ width:780px; height:30px; text-align:center; vertical-align:middle;}




#newsDetail{ width:990px; height:auto; margin:0 auto;}
#newsDetail .mappath{ background-color:#e5e5e5; height:30px; width:990px; vertical-align:middle;}
#newsDetail .newsTitle{ width:900px; height:50px; border-bottom: 3px solid #cc0000; margin:0 auto; text-align:center; vertical-align:middle;
						font-family:"宋体"; font-size:20px; font-weight:bold;}
#newsDetail .newsproperty{ width:900px; height:20px; margin:0 auto; text-align:center; vertical-align:middle;}
#newsDetail .takeup{ width:900px; height:25px; margin:0 auto;}
#newsDetail .newscontent{ width:900px; height:auto; margin-top:20px; margin:0 auto;font-family:"宋体"; font-size:14px; text-indent:2em;}
#newsDetail .newsproperty2{ width:900px; height:50px; margin:0 auto; text-align:right; vertical-align:middle;}



#servicesummary{ width:988px; height:565px; border-top:4px solid #23a5fc; border-bottom:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc;}
#servicesummary .serviceLeft{ width:200px; height:216; float:left; border-right:1px solid #cccccc;}
#servicesummary .serviceLeft .leftTitle{ width:200px; height:33px; background-image:url(../images/news_tab_focus.gif); background-repeat:repeat; border-bottom:3px solid #23a5fc; font-family:"宋体"; font-size:13px; text-align:center; vertical-align:middle; font-weight:bolder;}
#servicesummary .serviceLeft .baseinfo { width:200px; height:auto; background-color:#ffffff; text-align:center;}
#servicesummary .serviceLeft .baseinfo ul{ width:200px; height:auto;}
#servicesummary .serviceLeft .baseinfo ul li{ line-height:36px; border-bottom:1px dashed #CCCCCC; text-align:center;}

#servicesummary .serviceRight{ width:779px; height:auto; float:left;  border-left:1px solid  #cccccc; margin-left:4px;}
#servicesummary .serviceRight .modulesummary{ width:779px; height:auto;}
#servicesummary .serviceRight .modulesummary .logo{ width:779px; height:45px;}
#servicesummary .serviceRight .modulesummary .logo ul{ width:779px;}
#servicesummary .serviceRight .modulesummary .logo ul li{ height:45px; line-height:45px; float:left; margin:0 16px;}
#servicesummary .serviceRight .modulesummary .button{ width:779px; height:auto;}
#servicesummary .serviceRight .modulesummary .button .TabTitle{ width:779px; height:25px; border-bottom:1px solid #cccccc;}
#servicesummary .serviceRight .modulesummary .button .TabTitle ul{list-style-type:none;cursor:pointer; width:779px;}
#servicesummary .serviceRight .modulesummary .button .TabTitle ul li{ float:left; text-align:center;  height:25px;}
#servicesummary .serviceRight .modulesummary .button .TabTitle .active a{ color:#000000;}
#servicesummary .serviceRight .modulesummary .button .TabTitle .normal{height:25px; line-height:25px;width:80px; background-image:url(../images/green.png);}
#servicesummary .serviceRight .modulesummary .button .TabTitle .active{height:25px;width:80px; line-height:25px; background-image:url(../images/blue.png);}

#servicesummary .serviceRight .modulesummary .button .TabContent{ width:779px; height:490px;}
#servicesummary .serviceRight .modulesummary .button .TabContent .imageshow{ width:600px; height:480px; float:left; margin-top:5px; margin-left:5px;}
#servicesummary .serviceRight .modulesummary .button .TabContent .textsummary{ width:162px; height:479px; border:1px solid #cccccc;  float:left; margin-top:5px; margin-left:2px;}



#serviceModule .advertise{ width:780px; height:100px;}
#serviceModule .module{ width:780px; height:580px; margin-top:5px; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
#serviceModule .module .module_title{ width:780px; height:30px; background-image:url(../images/module_title_bg.jpg); background-repeat:repeat;}
#serviceModule .module .module_name{ width:780px; height:550px; border-bottom:1px solid #cccccc;}
#serviceModule .module .module_name .module_logo{ width:780px; height:45px;}
#serviceModule .module .module_name .module_logo ul { width:780px;}
#serviceModule .module .module_name .module_logo ul li{ line-height:45px; height:45px; float:left; margin:0 30px;}
#serviceModule .module .module_name .module_button{ width:780px; height:505px;}
#serviceModule .module .module_name .module_button .TabTitle{ width:780px; height:25px; border-bottom:1px solid #cccccc;}
#serviceModule .module .module_name .module_button .TabTitle ul{margin:0px; padding:0px;list-style-type:none;cursor:pointer; width:780px;}
#serviceModule .module .module_name .module_button .TabTitle ul li{ float:left; text-align:center; margin-left:10px; }
#serviceModule .module .module_name .module_button .TabTitle .normal a{ color:#004276; font-weight:lighter;}
#serviceModule .module .module_name .module_button .TabTitle .active a{ color:#000000;}
#serviceModule .module .module_name .module_button .TabTitle .normal{height:25px; line-height:25px;width:95px; background-image:url(../images/green.png);}
#serviceModule .module .module_name .module_button .TabTitle .active{height:25px;width:95px; line-height:25px; background-image:url(../images/blue.png);}
#serviceModule .module .module_name .module_button .TabContent{ margin-top:0px; width:780px; height:480px;}
#serviceModule .module .module_name .module_button .TabContent .moduleContent{ width:780px; height:345px;}
#serviceModule .module .module_name .module_button .TabContent .imglist{ width:775px; height:123px;margin:5px auto;border:1px solid #000000;}

#smc{ width:780px; height:345px; margin:0 auto;}
#smc .smc_list{ width:780px; height:315px;}
#smc .smc_list ul{ width:780px;}
#smc .smc_list ul li{ height:20px; line-height:20px;}
#smc .smc_list ul li .title{ width:475px; float:left; height:20px; margin-left:5px; vertical-align:middle;}
#smc .smc_list ul li .module{ width:150px; float:left; height:20px; text-align:center; vertical-align:middle;}
#smc .smc_list ul li .time{ width:150px; float:left; height:20px; text-align:center; vertical-align:middle;}

#smc .smc_pagenate{ width:780px; height:30px; text-align:center; vertical-align:middle; border-top:2px dashed #cccccc;}


#serviceModule .advice{ width:780px; height:305px; margin-top:10px;border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
#serviceModule .advice .advice_title{ width:780px; height:30px;background-image:url(../images/module_title_bg.jpg); background-repeat:repeat;}
#serviceModule .advice .adviceLogo{ width:140px; height:30px;float:left; vertical-align:middle;}
#serviceModule .advice .advice_title .moreadvice{width:100px;float:right;vertical-align:middle; }
#serviceModule .advice .advice_content{ width:780px; height:275px;}
#serviceModule .advice .advice_content .spring{ width:25px; height:20px; float:left;}
#serviceModule .advice .advice_content .reply{ width:750px; height:20px; float:left; line-height:20px; height:20px; vertical-align:middle;}




#message{ width:780px; height:1010px; margin:0 auto;}
#message .messageMain{ width:780px; height:790px; margin:0 auto;}
#message .messageMain .advice_title{ width:780px; height:30px; background-image:url(../images/module_title_bg.jpg); background-repeat:repeat;}
#message .messageMain .advice_title .adviceLogo{ width:138px; height:30px;float:left; vertical-align:middle;}
#message .messageMain .advice_title .slogan{width:640px;float:right;line-height:30px; height:30px; text-align:center; font-weight:bold; font-size:14px; font-family:"华文楷体"; color:#000000; }
#message .messageMain .amount{ width:775px; height:25px; border:2px dashed #cccccc; margin-top:8px; margin-left:2px; font-weight:bold; font-size:14px; font-family:"宋体";}
#message .messageMain .amount a:link {font-size:14px;font-weight:bold;text-decoration:none;color:#ff0000;}
#message .messageMain .amount a:visited {color: #ff0000;font-size:14px;font-weight:bold;text-decoration:none;}
#message .messageMain .amount a:hover {color: #ff0000;font-size:14px;font-weight:bold; text-decoration:underline;}
#message .messageMain .advice_list{ width:765px; margin-left:5px; margin:0 auto; border:1px solid #cccccc; height:auto;}
#message .messageMain .advice_list .info{width:761px; height:20px; background-color:#cccccc; margin:2px 2px 2px 2px;}
#message .messageMain .advice_list .content{ width:761px; height:auto; margin-top:5px; margin-bottom:5px; text-indent:2em;}
#message .messageMain .advice_list .reply{width:761px; height:auto; margin:2px 2px 2px 2px; background-color:#cccccc;}
#message .messageMain .spilter{width:775px; height:5px; margin:0 auto;}
#message .pagenate{ width:778px; height:25px; text-align:center; border-top:1px dashed #cccccc;}
#message .writereply{ width:780px;height:210px; margin:0 auto; border-top:2px dashed #cccccc;}
#message .writereply .replynotice{width:770px; height:25px; background-color:#CCCCCC; margin:5px auto; vertical-align:middle;}
#message .writereply .replyMain{width:770px; height:160px; border:1px solid #cccccc; margin:5px auto 10px;}




#rating{ width:780px; height:1010px;}
#rating .title{ width:780px; height:30px;background-image:url(../images/module_title_bg.jpg); background-repeat:repeat;}
#rating .ratecontent{ width:780px; height:990px;}
#rating .ratecontent .tabtitle{ width:780px; height:40px; text-align:center; color:#999999; font-size:16px; font-weight:bold; vertical-align:middle; border-bottom:2px dashed #cccccc;}
#rating .ratecontent .surveycontent{ width:780px; height:auto; margin-top:5px}
#rating .ratecontent .operatearea{ width:780px; height:50px; border-top:2px dashed #cccccc; margin-top:5px; text-align:right; vertical-align:middle;}
#rating .ratecontent .surveycontent .tabstyle{ border-bottom:1px dotted #000000;border-left:1px dotted #000000;border-right:1px dotted #000000;}
#rating .ratecontent .surveycontent .rateclass{ width:300px; text-align:center; vertical-align:middle;}