IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}

#lantern_slide {
	WIDTH: 245px;
	HEIGHT: 200px;
}

#bimg {
	FILTER: progid:DXImageTransform.Microsoft.Fade ( duration=0.5,overlap=1.0 ); OVERFLOW: hidden; HEIGHT: 200px
}
#info {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 34px; TEXT-ALIGN: center
}
.lkff A {
	COLOR: #fff; TEXT-DECORATION: none
}
.lkff A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
#simg {
	PADDING-LEFT: 1px
}
#simg DIV {
	FONT-SIZE: 12px; BACKGROUND: #d6d6d6; FLOAT: left; WIDTH: 18px; CURSOR: pointer; COLOR: #fff; LINE-HEIGHT: 18px; MARGIN-RIGHT: 1px; HEIGHT: 18px; TEXT-ALIGN:center
}
#simg .f1 {
	BACKGROUND: #6f6f6f
}
.dis {
	DISPLAY: block
}
.undis {
	DISPLAY: none
}
.lkff {
	WIDTH: 7px
}

#font_hd {
	MARGIN-TOP: 1px; BACKGROUND: #343434; WIDTH: 100%; HEIGHT: 25px
}
#font_hd TD {
	OVERFLOW: hidden; HEIGHT: 25px
}
.pic {
	OVERFLOW: hidden
}
.pic .dis A {
	DISPLAY: block; FONT-SIZE: 100px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 245px; FONT-FAMILY: Arial; HEIGHT: 200px; TEXT-ALIGN: center
}
.pic .dis A IMG {
	MAX-WIDTH: 245px; VERTICAL-ALIGN: middle
}
#font_hd TD A {
	FONT-SIZE: 12px; WIDTH: 145px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
