/* CSS Document */
*{ font-size:12px; color:#000; font-family:"瀹浣";}
body{ margin:0px; padding:0px; border:none;}

.inputBorderstyle1{ border:1px solid #999; height:16px;}
.inputBorderstyle2{ border:1px solid #999; height:16px;}
select{ border:1px solid #999; height:16px;}




.topnavbg{ background:url(../images/topNavbg.jpg); background-repeat:repeat;}
.topnav{ width:100%; height:67px;}
.topnav .left{ background-image:url(../images/btnNavleft.jpg); width:434px; height:67px; float:left}
.topnav .right{ background-image:url(../images/top_bg.jpg);width:532px; height:67px; float:right; text-align:right; color:#FFF; }
.topnav .right p{ line-height:16px; margin-top:5px; margin-right:10px;}
.topnav .right a{ color:#FFF; font-size:12px; text-decoration:none;}
.topnav .right a:hover{ color:#FFF; font-size:12px; text-decoration:underline;}
.toplineimg {margin-left:8px;width:184px;height:11px;background:url(../images/topline.gif) -179px 0;}


.leftmenu{ margin-left:14px; width:167px;}
.leftmenu .btnmenu{ background-image:url(../images/menu_bgs.gif); width:167px; height:28px; text-align:center; font-weight:bold; font-size:13px; color:#000; line-height:28px;}
.leftmenu .navimg{ background:url(../images/menu_topline.gif) no-repeat;width:167px; overflow:hidden; height:5px;}
.leftmenu .btnsubmenu{ background-image:url(../images/menu_bg1.gif); width:167px; line-height:24px; text-indent:60px; color:#333; font-size:12px;}
.leftmenu .btnsubmenu a{ text-decoration:none; color:#333;}
.leftmenu .btnsubmenu a:hover{ text-decoration:none; color:#135517;}
.leftmenu .btnsubmenuonmove{ background-image:url(../images/menu_bg2.gif); width:167px; line-height:24px; text-indent:60px; color:#135517; font-size:14px; font-weight:bold;}
.leftmenu .btnsubmenuonmove a{ text-decoration:none; color:#135517;}
.leftmenu .btnsubmenuonmove  a:hover{ text-decoration:none; color:#135517;}

#ContentBox{margin-right:3px; margin-left:3px;}

#mgrmenu{height:60px; background-color:#ebf2f9; border:1px solid #6298e1; margin-bottom:5px; width:100%;}
#mgrmenu .top{background-image:url(../images/th_bg.gif);background-repeat:repeat-x; width:100%; height:30px; line-height:30px; font-size:13px; font-weight:bold; color:#FFF; text-indent:10px;}
#mgrmenu .buttom{height:25px;line-height:25px; text-align:right; margin-top:2px;}
#mgrmenu .buttom span{ padding-right:10px;}

#editmenu1{ background-image:url(../images/th_bg.gif); background-repeat:repeat-x; width:100%; height:30px; line-height:30px; font-size:13px; font-weight:bold; color:#FFF; text-indent:10px; margin-bottom:5px;}

#editmenu2{height:60px; background-color:#ebf2f9; border:1px solid #6298e1; margin-bottom:5px; width:100%;}
#editmenu2 .top{background-image:url(../images/th_bg.gif);background-repeat:repeat-x; width:100%; height:30px; line-height:30px; font-size:13px; font-weight:bold; color:#FFF; text-indent:10px;}
#editmenu2 .buttom{height:25px;line-height:25px;margin-top:2px; text-indent:5px; color:Red;}



.textIndent4{ text-indent:4px;}
.textIndent8{ text-indent:8px;}

/*超链接样式*/
.editadvert{ font-size:13px; color:#6298e1; text-decoration:none;}
.editadvert:hover{ font-size:13px; color:#6298e1; text-decoration:underline;}


#box600{ margin:0 auto; width:600px;}
#box90per{ margin:0 auto; width:90%;}

.btn60_24{ width:60px; height:24px;text-align:center; vertical-align:middle;}
.btn90_24{ width:90px; height:24px;text-align:center; vertical-align:middle;}
.input_22{ height:22px; line-height:22px;}















/*分页控件样式*/
.fengye{text-align:center;}
   /*拍拍网风格*/
.paipai { font: 11px Arial, Helvetica, sans-serif;padding:5px 0px 5px 0px; margin: 0px;}    
.paipai a {padding: 3px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none;margin-right:2px}    
.paipai a:visited {padding: 1px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none;}    
.paipai .cpb {padding: 1px 6px;font-weight: bold; font-size: 13px;border:none}    
.paipai a:hover {color: #fff; background: #ffa501;border-color:#ffa501;text-decoration: none;} 







