body, td, th
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
body
{
    background-color: white;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: #3D464B;
    font-size: 14px;
    font-family: "宋体","Arial Narrow",HELVETICA;
}
a:hover
{
    color: #BD0A01;
    text-decoration: underline;
    cursor:pointer;
}
#All
{
    height: auto;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.left
{
    float: left;
}
#nav
{
    float: left;
    width: 980px;
    height: 41px;
    background-image: url(../images/navc.jpg);
    overflow: hidden;
}
.right
{
    float: right;
}
ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#nav_center li
{
    float: left;
    height: 41px;
    width: 96px;
    text-align: center;
    margin-left: 5px;
    background-image: url(../images/nav.jpg);
    line-height: 58px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    overflow: hidden;
}
img
{
    border: none;
}
#nav_center
{
    width: 920px;
    float: left;
    margin-left: 15px;
}
#search
{
    background-image: url(../images/bai.jpg);
    height: 28px;
    width: 978px;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    background-repeat: repeat-x;
    line-height: 28px;
    border: 1px solid #E6C48F;
}
#Center
{
    float: left;
    height: auto;
    width: 980px;
}
#Cen_left
{
    float: left;
    height: auto;
    width: 219px;
    text-align: center;
    background-image: url(../images/viq.jpg);
    background-repeat: repeat-y;
}
.cen_item
{
    background-image: url(../images/bans.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #FFFFFF;
    height: 26px;
    text-align: center;
    float: left;
    width: 219px;
}
.cen_more
{
    background-image: url(../images/pho_back.jpg);
    background-repeat: repeat-y;
    background-position: center;
    padding: 5px;
    width: 209px;
    float: left;
}
.cen_more ul
{
    float:left;
}
#navmenu
{
    float:left;
}
#navmenu div a
{
    float:left;
    height:20px;
    width:100%;
    text-align:left;
    line-height:20px;
}
#navmenu div a:hover
{
    background-color:#CCC;
}
.cen_more li
{
    height: auto;
    text-align: left;
    text-indent: 3em;
    float:left;
}
#Cen_right
{
    float: right;
    width: 750px;
    height: auto;
}
#items
{
    height: 26px;
    line-height: 26px;
    background-image: url(../images/item2.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}
.more
{
    float: right;
}
.ite
{
    float: left;
}
.more
{
    padding: 0px;
    float: right;
}
.ites
{
    float: left;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.abouts
{
    float: right;
    width: 500px;
    line-height: 2;
    font-size: 12px;
    font-weight: normal;
}
.item_news
{
    float: left;
    height: auto;
    width: 750px;
}
.item_item
{
    float: left;
    height: 28px;
    width: 356px;
    background-image: url(../images/items.jpg);
    background-position: left;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
}
.news_li
{
    float: left;
    width: 356px;
}
.news_li li
{
    line-height: 25px;
    height: 25px;
    background-image: url(../images/ping.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: 1em;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCCCCC;
    font-size: 12px;
}
.cen_item
{
    float: left;
    width: 216px;
}
#items
{
    float: left;
    width: 749px;
    height: 26px;
    margin-top: 10px;
}
#about
{
    line-height: 1.5;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}
.All_news li
{
    height: 27px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCCCCC;
    line-height: 27px;
    overflow: hidden;
    text-indent: 2em;
    background-image: url(../images/ping.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    float:left;
    width:100%;
}
.All_news li:hover
{
    background-color:#CCCCCC;
}
.All_news a
{
    height:27px;
    line-height:27px;
}

#help_link
{
    float: left;
    width: 73px;
    background-image: url(../images/sd.jpg);
    background-repeat: repeat-y;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
#links
{
    float: left;
    width: 907px;
    line-height: 2;
}
#footer
{
    float: left;
    width: 980px;
    height: auto;
    margin-top: 10px;
}
#lin
{
    float: left;
    height: 33px;
    margin-top: 10px;
    width: 100%;
    background-image: url(../images/footer.jpg);
    line-height: 33px;
    text-align: center;
}
#lin a
{
    padding: 10px;
    text-decoration: none;
    color: #3D464B;
}

.All_news, .All_about
{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
h1
{
    font-size: 17px;
    font-weight: bolder;
    color: #000000;
    text-align: center;
}
hr
{
    margin: 15px;
    padding: 0px;
}
.All_about p
{
    padding: 0px;
    margin: 0px;
}
.news_name
{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    margin-top: 15px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}
td
{
    text-indent: 5px;
}
.All_about li
{
    margin-top: 10px;
    float: left;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCCCCC;
    padding-bottom: 10px;
}
#honnor_show, #pen_show
{
    width: 100%;
    margin-top: 15px;
    float: left;
}
#honnor_show li
{
    float: left;
    height: 180px;
    width: 210px;
    border: 1px solid #CCCCCC;
    text-align: center;
    padding-top: 3px;
    margin-left: 15px;
}
.img_name
{
    margin-top: 3px;
    float: left;
    width: 210px;
    text-align: center;
}
a:link
{
    color: #3D464B;
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
    color: #3D464B;
}
a:active
{
    text-decoration: none;
    color: #3D464B;
}
