<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--此链接串用于SqlBaseClass类连接数据库使用-->
		<add key="ConnectionString" value="Data Source=.\demotest;Initial Catalog=db_GoodsManage;User Id=sa;Password=ccense;"/>
		
		<!--此链接串用于水晶报表链接数据库使用-->
		<add key="ServerName" value=".\demotest"/>
		<add key="DataBase" value="db_GoodsManage" />
		<add key="UserName" value="sa"/>
		<add key="Pwd" value="ccense"/>
	</appSettings>
</configuration>