<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--备用配置，与迭代器一起使用，暂不启用-->
  <Log DefaultAppender ="OracleAppender" DefaultLevel ="DEBUG"  DefaultMemoryQueueSize ="500"> 
    <!--操作日志-->
    <OperateLog> 
      <Level value = "DEBUG"></Level> 
      <Appenders>
        <Appender>OracleAppender</Appender>
        <Appender>EventLogAppender</Appender>
        <Appender>RollingFileAppender</Appender>
        <Appender>MemoryQueueAppender</Appender>
      </Appenders>
    </OperateLog>

    <!--运行日志-->
    <RunningLog>
      <Appenders>
        <Appender>OracleAppender</Appender> 
      </Appenders>
    </RunningLog>

    <!--异常日志-->
    <ExceptionLog>
      <Appenders>
        <Appender>OracleAppender</Appender> 
      </Appenders>
    </ExceptionLog>
    <!--系统日志-->
    <ApplicationLog>
      <Appenders> 
        <Appender>EventLogAppender</Appender>
      </Appenders>
    </ApplicationLog>

    <!--登陆日志-->
    <LoginLog>
      <Appenders>
        <Appender>OracleAppender</Appender> 
      </Appenders>
    </LoginLog>
    <!--错误日志-->
    <ErrorLog> 
    </ErrorLog> 

    <!--客户反馈日志-->
    <Feedback>
    </Feedback>
  </Log>
</configuration>