<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net  debug="true" level ="INFO"> 

    <!--写到单个文件-->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="SmartCampus.Log"/>
      <param name="datePattern" value="MM-dd HH:mm"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>

    <!--写到多个文件，固定大小的文件-->
    <appender name ="RollingLogFileAppender" type ="log4net.Appender.RollingFIleAppender"> 
        <file value="NewcapecRolling.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="100KB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
      </appender> 

   <!--写到控制台-->
    <appender name ="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name ="ConversionPattern" value="%d [%t] %-5p %c [%x] %X{auth}> - %m%n"/>
      </layout>
    </appender>
    
    <!--写到系统日志-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <!--<appID value="MyApp" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    
    <!--写到Oracle数据库：执行Oracle命令-->
    <appender name="log_oracle_command" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.OracleClient.OracleConnection, System.Data.OracleClient, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=ORAECARD;User ID=ccense;Password=ccense" />
      <commandText value="INSERT INTO log (logdate,threadname,loglevel,logger,message,exceptionmsg) VALUES (:logdate, :threadname, :loglevel, :logger, :message,:exceptionmsg)" />
      <CommandType value="Text"/>
      <bufferSize value="1" />
      <parameter>
        <parameterName value=":logdate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value=":threadname" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":loglevel" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":exceptionmsg" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>

    <!--写到Oracle数据库，执行存储过程-->
    <appender name="log_oracle_storedprocedure" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.OracleClient.OracleConnection, System.Data.OracleClient, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=ORAECARD;User ID=ccense;Password=ccense" />
      <commandText value="PKG_LOG.LOG"/>
      <CommandType value="StoredProcedure"/>
      <bufferSize value="1" />
      <parameter>
        <parameterName value="plogdate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="pthreadname" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="ploglevel" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="plogger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="pmessage" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="pexceptionmsg" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>

    <!--<root>
      <level value="DEBUG"/> 
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>-->

    <!--写到oracle，执行sql名单-->
    <logger name="db_oracle_command">
      <level value="Debug" /> 
      <appender-ref ref="log_oracle_command"/>
    </logger>

    <!--写到oracle，调用存储过程-->
    <logger name="db_oracle_storedprocedure">
      <level value="Debug" />
      <appender-ref ref ="LogFileAppender"/>
      <appender-ref ref="log_oracle_storedprocedure"/>
    </logger>

    <!--写到指定单个文件-->
    <logger name="file">
      <level value="Debug" />
      <appender-ref ref ="LogFileAppender"/>
    </logger>
    
    <!--写到固定大小文件，当文件超过指定容量，建立新文件-->
    <logger name="file_rolling">
      <level value="Debug" /> 
      <appender-ref ref ="RollingLogFileAppender"/>
    </logger>
    
    <!--写到系统日志-->
    <logger name="eventlog">
      <level value="Debug" />
      <appender-ref ref ="EventLogAppender"/>
    </logger>
    
    <!--写到系统日志-->
    <logger name="console">
      <level value="Debug" />
      <appender-ref ref ="ConsoleAppender"/>
    </logger> 
    
  </log4net>
</configuration>


