@charset "gb2312";
/* CSS Document */

html,body,div,p,img,form,hr,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
	border:none;
	font-weight:normal;
	font-style:normal;
	font-size:12px;
	font-family:"Arial","Tahoma","宋体","新宋体","sans-serif";
	color:#000;
	line-height:22px;
}

.body_bg{ background-color:#D8E8F8;}
#box_mar2{ margin:2px;}


/*margin常用样式*/
.mar_box5{ margin:5px;}
.mar_box10{ margin:10px;}
.mar_box15{ margin:15px;}
.mar_box20{ margin:20px;}
.mar_box30{ margin:30px;}


.mar_l5{ margin-left:5px;}
.mar_l10{ margin-left:10px;}
.mar_l15{ margin-left:15px;}
.mar_l20{ margin-left:20px;}
.mar_l30{ margin-left:30px;}
.mar_l40{ margin-left:40px;}
.mar_l50{ margin-left:50px;}


.mar_t2{ margin-top:2px}
.mar_t5{ margin-top:5px}
.mar_t10{ margin-top:10px;}
.mar_t15{ margin-top:15px;}
.mar_t20{ margin-top:20px;}
.mar_t30{ margin-top:30px;}
.mar_t40{ margin-top:40px;}
.mar_t50{ margin-top:50px;}

.mar_r5{ margin-right:5px;}
.mar_r10{ margin-right:10px;}
.mar_r20{ margin-right:20px;}

.mar_lr5{ margin-left:5px; margin-right:5px;}
.mar_lr10{ margin-left:10px; margin-right:10px;}

/*padding常用样式*/
.pad_box5{ padding:5px;}
.pad_box10{ padding:10px;}
.pad_box15{ padding:15px;}
.pad_box20{ padding:20px;}
.pad_box30{ padding:30px;}

.pad_l5{ padding-left:5px;}
.pad_l10{ padding-left:10px;}
.pad_l15{ padding-left:15px;}
.pad_l20{ padding-left:20px;}
.pad_l30{ padding-left:30px;}

.pad_r5{ padding-right:5px;}
.pad_r10{ padding-right:10px;}
.pad_r15{ padding-right:15px;}
.pad_r20{ padding-right:20px;}
.pad_r30{ padding-right:30px;}

.pad_t5{ padding-top:5px;}
.pad_t10{ padding-top:10px;}

.pad_b5{ padding-bottom:5px;}
.pad_b10{ padding-bottom:10px;}

/*浮动样式*/
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both;}




/*超链接样式*/
a{ font-size:12px; color:#00F; text-decoration:underline;}
a:hover{ color:#F00; text-decoration:none}

/* 文本对齐方式 */
.t_l{text-align:left;}
.t_c{text-align:center;}
.t_r{text-align:right;}



/*系统登录*/
#login{ width:549px; height:289px; background:url(../images/login.jpg) no-repeat; margin-left:auto; margin-right:auto; margin-top:150px;}


/*网页已过期*/
.timeout{ font-size:14px; margin-left:15px; margin-top:15px;}
.timeout img{ margin-left:5px; margin-right:5px;}


/*网站头部*/
#top{ width:100%; height:60px; background:url(../images/top_bg.jpg) repeat-x;}
#top .left{ float: left; height:60px; width:430px; background:url(../images/top_log.jpg) no-repeat;}
#top .right{ float:right; height:60px; width:392px; background:url(../images/top_jishu.jpg) no-repeat;}
.top_menu{ width:100%; height:30px; height:30px; line-height:30px; text-align:right;}
.top_menu a{ text-decoration:none; color:#000;}
.top_menu a:hover{ text-decoration:underline; color:#F36;}


/*左侧菜单导航*/
#menu{ width:220px; overflow:hidden;}
.item_close{ height:27px; line-height:27px; background:url(../images/menu_close.jpg) no-repeat; padding-left:15px; cursor:hand;}
.item_open{ height:27px; line-height:27px; background:url(../images/menu_open.jpg) no-repeat; padding-left:15px; font-weight:bold; cursor:hand;}
.subitem_unsel{ margin-top:2px; height:27px; line-height:27px; background:#e0ecff; border:1px dashed #99bbe8;padding-left:20px; cursor:hand;}
.subitem_unsel a{ color:#000; text-decoration:none;}
.subitem_unsel a:hover{ text-decoration:underline; color:#F90;}
.subitem_sel{ margin-top:2px; height:27px; line-height:27px; background:#e0ecff; border:1px solid #99bbe8;font-weight:bold; padding-left:20px; cursor:hand;}
.subitem_sel a{ color:#00F; text-decoration:none; font-weight:bold;}
.subitem_sel a:hover{ color:#00F; text-decoration:none; font-weight:bold;}



/*信息列表*/
 
#nav_mgr{ width:100%; background:#B3CBED; height:25px;}
#nav_mgr .left{ float:left; width:60%; height:20px;font-weight:bold; padding-top:5px; font-size:13px;}
#nav_mgr .left img{ margin-left:10px; margin-right:10px;}
#nav_mgr .right{ float:right; width:38%; height:20px;padding-top:5px; text-align:right; padding-right:10px;}
#nav_mgr .right img{ margin-right:5px;}
#nav_mgr .right a{ text-decoration:underline; color:#00F}

.search_mgr{height:27px; padding-top:3px; padding-left:10px; background:#d8e8f8;}
.btn_search{ background:url(../images/botton_gif_006.gif) no-repeat; width:70px; height:23px; margin:0px; padding:0px; border:none;}


/*信息编辑*/
.group_tit{ height:25px; line-height:25px; width:95%; text-indent:5px; font-weight:bold; color:#000; font-size:14px; border-bottom:2px solid #999;}
.group_remark{ height:30px; line-height:30px;}
.group_remark span{ color:#F00;  margin-left:10px;}





/*GridView样式*/
.GridViewStyle{ width:100%; margin-top:5px;}
.GridViewRowStyle{ background:#E7EFFA; height:22px; line-height:22px; text-align:center; border:1px solid #00F;}
.GridViewRowStyle td{ border-bottom:1px solid #E7E7E7;}
.GridViewAlternatingRowStyle{ background:#F8FBFE; height:22px; line-height:22px; text-align:center;}
.GridViewHeaderStyle{font-size:12px;  height:25px; line-height:25px; background:#B9D0EF; text-align:center;}
.GridViewHeaderStyle th{ border-bottom:1px solid #94B6E4; border-right:1px groove #94B6E4;}
.gridviewpage{width:100%;line-height:30px;background-color:#E7EFFA; text-align:center;}

.gridview_link a{color:#00F; text-decoration:underline;}
.gridview_link a:hover{ color:#F38830; text-decoration:none;}







