@charset "gb2312";
/* CSS Document */

#Team-gl{
	width:640px; height:191px;
	clear:both;
	background-image:url(../images/x-bg03.png);
	background-repeat:repeat-x;
	border:1px #d4d4d4 solid;
	overflow:hidden;
	}
.fc1-bg-left{
	width:8px;
	height:191px;
	float:left;}
.fc1-bg-right{
	width:631px;
	height:191px;
	float:right;}
.fc1-bg2{
	width:619px;
	height:191px;
	float:left;
}
.fc1-dh{
	width:625px;
	height:33px;}
.fc1-dh ul{
	width:622px;
	height:33px;
	margin:0px;
	padding:0px;
	}
.fc1-dh li{
	width:600px;
	height:31px;
	list-style:none;

	border-bottom:2px #666 solid;
	;}
.fc1-dh span{
	width:80px;
	height:26px;
	border-bottom:2px #2a3e57 solid;
	float:left;
	display:block;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:bold;
	color:#2a3e57;
	padding-top:5px;}
.fc1-dh a{
	width:40px;
	height:21px;
	float:right;
	display:block;
	padding-top:10px;
}
.Team-gl-main{
	width:609px;
	height:148px;
	padding-right:10px;
	
}
.fc1-bg3{
	width:8px;
	height:191px;
	float:right;
	}



#Team-gl {
    color: #2C2C2C;
    font-family: "宋体";
    font-size: 12px;
    margin: 0;
    padding: 0;
}
div, ul, li, form, dl, dt, dd, p, h1, h2, input, colgroup, col {
    border: medium none;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none outside none;
}

a {
    color: #2C2C2C;
    outline: medium none;
    text-decoration: none;
}




#cover-story1 dd {
    
    height: 135px;
    overflow: hidden;
    padding-top: 20px;
    width: 620px;
	
}
#leftarr1, #rightarr1 {
    background:url(../images/left.png);
    cursor: pointer;
    display: inline;
    float: left;
    height: 21px;
    margin: 50px 13px 0;
	line-height:25px;
    width: 17px;
	
}
#rightarr1 {
    background:url(../images/right.png);
    float: right;
    margin-left: 0;
	
}
#scroll1 {
    float: left;
    height: 126px;
    overflow: hidden;
    width: 480px;
	
}
#scroll1 ul {
    clear: none;
    float: left;
    height: 136px;
    margin-right: 14px;
    overflow: hidden;
    width: 98px;
	
}
#scroll1 li {
    height: 93px;
    overflow: hidden;
    text-align: center;
	
}
#scroll1 li img {
    border: 1px solid #DCDCDC;
    height: 85px;
    width: 96px;
}
#scroll1 li a {
    color: #0D519C;
    line-height: 28px;
	
}