@charset "gb2312";
/* CSS Document */
#jq-page-left{
	width:667px;
	float:left;}
#jq-page-right{
	width:293px;
	float:right;
	background-color:#f1f1f1;
	}

/*驿站新闻 start*/
.column1{
	width:960px; height:297px;}
.news1{
	width:645px; height:297px;
	float:left;
	}
.scroll{
	width:315px; height:297px;
	float:right;
	}
.yuanjiao1{
	width:6px; height:297px;
	float:left;
	background-image:url(../images/images/services_03.jpg);
	background-repeat:no-repeat;}
.news-right{
	width:639px; height:297px;
	float:left;}
.mid{
	width:624px; height:297px;
	float:left;
	background-image:url(../images/images/services_15.png);
	background-repeat:repeat-x;
	padding-left:9px;
	}
.yuanjiao2{
	width:6px; height:287px;
	float:right;
	background-image:url(../images/images/services_05.jpg);
	background-repeat:no-repeat;}
.news-dh{
	width:615px; height:30px;
	border-bottom:#959595 3px solid;
	}

.ui{
	width:80px; height:30px;
	float:left;
	border-bottom:#375577 3px solid;}
.ui ul{
	margin:0px;
	padding:0px;
	list-style:none;
	font-size:14px;
	font-weight:bold;
	color:#2e4967;}
.ui ul li{
	background-image:url(../images/images/services_12.jpg);
	background-repeat:no-repeat;
	padding-left:15px;
	margin-top:10px;
	padding-top:3px;}
.ui-text{
	width:80px; height:32px;
	float:right;}
.ui-text li{
	list-style:none;
	}
.news-imgs{
	width:300px; height:240px;
	float:left;
	}
.news-list{
	width:315px; height:225px;
	float:right;
	margin-top:10px;}
.news-list ul{
	margin:0px;
	padding:0px;
	list-style:none;
	width:295px;
	line-height:27px;}
.news-list ul li{
	height:27px; width:282px;
	border-bottom:#666 1px dashed;
	background-image:url(../images/images/services_16.jpg);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:18px;
}
.news-list li a{
	float:left;}

.news-list li span{
	float:right;
}
.kuang{
	width:292px; height:222px;
	border:1px #c7c7c7 solid;
	margin-top:10px;}
/*驿站新闻 end*/	
	



/*高速驿站 start*/
.column2{
	width:960px; height:200px;}
.news2{
	width:645px; height:200px;
	float:left;
	border-left:1px #969696 solid;
	border-right:1px #969696 solid;
	border-bottom:1px #969696 solid;
	margin-top:10px;}
.scroll2{
	width:310px; height:200px;
	float:right;}
.news2-dh{
	width:645px; height:35px;}

.news-dh-left{
	width:95px; height:35px;
	float:left;}
.news-dh-right{
	width:550px; height:35px;
	float:right;}
.news-dh-right-top{
	width:550px; height:10px;
	background-image:url(../images/images/services_25.jpg);
	background-repeat:repeat-x;}
.news-dh-right-bott{
	width:540px; height:25px;
	background-image:url(../images/images/services_23.png);
	background-repeat:repeat-x;
	padding-left:10px;}
.news-dh-right-bott ul{
	margin:0px; padding:0px;
}
.news-dh-right-bott ul li{
	display:inline;
	list-style:none;
	margin:5px;
	font-size:14px;
	}
.news-dh-right-bott a:link{
	color:#28405c;}
.news-dh-right-bott a:hover{
	color:#252525;}
.more{
	width:50px;
	float:right;}


.list2{
	width:620px; height:150px;
	margin-top:15px;
	margin-left:12px;}
.list2 ul{
	margin:0px;
	padding:0px;
	width:620px;
	height:140px;
	overflow:hidden;
}
.list2  li{
	background-image:url(../images/images/services_30.jpg);
	background-repeat:no-repeat;
	background-position:1px;
	width:79px;
	height:24px;
	padding-left:24px;
	display:inline;
	list-style:none;
	float:left;
	overflow:hidden;}
.list2  a{
	width:75px;
	height:24px;
	line-height:24px;
	display:block;
	overflow:hidden;
	float:left;
}
	
.paiming{
	width:297px; height:200px;
	float:right;
	background-color:#f1f1f1;}
.dh{
	width:282px; height:21px;
	background-image:url(../images/images/services_25.png);
	background-repeat:repeat-x;
	padding-left:15px;
	padding-top:5px;}
.dh ul{
	margin:0px; padding:0px;
}
.dh ul li{
	font-size:14px;
	font-weight:bold;
	color:#293f5b;
	list-style:none;
	float:left;
	width:265px;}
.dh span{
	width:40px;
	font-size:12px;
	font-weight:normal;
	float:right;}
.dh a:link{
	color:#293f5b;}
.list3{
	width:272px;
	height:148px;
	padding:8px;
	float:left;
	overflow:hidden;
}
.list3 ul{
	width:256px;
	height:165px;
	float:left;
	text-align:left;
	overflow:hidden;
	margin:0px;
	padding:0px;
}
.list3 li{
	margin:0px;
	padding:0px;
	width:200px;	
	height:24px;
	line-height:24px;
	float:left;	
	border:solid 1px #F00;
	margin-left:15px;
	list-style-image:url(../images/0_96.png);
	overflow:hidden;
}
.list3 a{
	width:150px;
	height:24px;
	line-height:24px;
	float:left;
	overflow:hidden;
	display:block;
}


.bottom1{
	width:960px; height:630px;}
.bottom1-left{
	width:645px; height:630px;
	float:left;}
.bottom1-right{
	width:325px; height:630px;
	float:right;}
/*高速驿站 end*/

/*行业规章 start*/

#guizhang{
	width:316px; height:200px;
	float:left;
	padding-top:25px;}

.guizhang-left{
	width:5px; height:179px;
	float:left;
	background-image:url(../images/images/services_26.png);
	background-repeat:no-repeat;
	}
.guizhang-right{
	width:311px; height:179px;
	float:right;
}
.guizhang-right-left{
	width:306px; height:179px;
	float:left;
	border-bottom:1px #d0d0d0 solid;}
.guizhang-right-right{
	width:5px; height:179px;
	float:right;
	background-image:url(../images/images/services_27.png);
	background-repeat:no-repeat;}
.guizhang-dh{
	width:306px; height:31px;}
.guizhang-main{
	width:301px; height:148px;
	margin-top:12px;
	padding-left:5px;}
.guizhang-dh-left{
	width:88px; height:23px;
	float:left;
	background-image:url(../images/images/services_28.png);
	background-repeat:no-repeat;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	padding-top:8px;}
.guizhang-dh-right{
	width:208px; height:23px;
	float:right;
	background-image:url(../images/images/services_29.png);
	background-repeat:repeat-x;
	padding-top:8px;}
.guizhang-dh-right a{
	float:right;}
.guizhang-main ul{
	width:301px;
	margin:0px; padding:0px;}
.guizhang-main li{
	list-style-image:none;
	width:280px;
	overflow:hidden;
	display:block;
	line-height:24px;
	background-image:url(../images/0_96.png);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:15px;}
.guizhang-main li a{
	width:210px;
	float:left;}
.guizhang-main span{
	width:40px;
	float:right;}
/*行业规章 end*/


/*经验交流 start*/
#jingyan{
	width:316px; height:200px;
	float:left;
	padding-top:25px;
	margin-left:15px;}

.jigyan-left{
	width:5px; height:179px;
	float:left;
	background-image:url(../images/images/services_26.png);
	background-repeat:no-repeat;
	}
.jigyan-right{
	width:311px; height:179px;
	float:right;
}
.jigyan-right-left{
	width:306px; height:179px;
	float:left;
	border-bottom:1px #d0d0d0 solid;}
.jigyan-right-right{
	width:5px; height:179px;
	float:right;
	background-image:url(../images/images/services_27.png);
	background-repeat:no-repeat;}
.jigyan-dh{
	width:306px; height:31px;}
.jigyan-main{
	width:301px; height:148px;
	margin-top:12px;
	padding-left:5px;}
.jigyan-dh-left{
	width:88px; height:23px;
	float:left;
	background-image:url(../images/images/services_28.png);
	background-repeat:no-repeat;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	padding-top:8px;}
.jigyan-dh-right{
	width:208px; height:23px;
	float:right;
	background-image:url(../images/images/services_29.png);
	background-repeat:repeat-x;
	padding-top:8px;}
.jigyan-dh-right a{
	float:right;}
.jigyan-main ul{
	width:301px;
	margin:0px; padding:0px;}
.jigyan-main li{
	list-style-image:none;
	width:280px;
	overflow:hidden;
	display:block;
	line-height:24px;
	background-image:url(../images/0_96.png);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:15px;}
.jigyan-main li a{
	width:210px;
	float:left;}
.jigyan-main span{
	width:40px;
	float:right;}
/*经验交流 end*/
/*资料下载 start*/
#ziliao{
	width:316px; height:205px;
	float:left;}
/*资料下载 end*/

/*驿站文化 start*/
#yizhan{
	width:316px; height:205px;
	float:right;
	margin-right:19px;}
/*驿站文化 end*/

/*	
/*通知公告 start*/
/*.gonggao-main{
	width:278px; height:283px;
	margin-left:6px;}
.gonggao-bg{
	width:7px; height:283px;
	float:left;
	background-image:url(../images/images/services_07.jpg);
	background-repeat:no-repeat;}
.gonggao-bg1{
	width:271px; height:283px;
	float:right;
}
.gonggao-mid{
	width:266px; height:283px;
	float:left;}
.gonggao-bg2{
	width:5px; height:283px;
	float:right;
	background-image:url(../images/images/services_09.png);
	background-repeat:no-repeat;}
.mid-dh{
	width:266px; height:23px;
	background-image:url(../images/images/services_21.png);
	background-repeat:repeat-x;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	padding-top:5px;}
.mid-text{
	width:266px; height:255px;}
.gg-main{
	width:244px; height:236px;
	background-color:#FFF;
	padding-top:15px;
	padding-left:22px;}
.bott{
	width:264px; height:4px;
	background-color:#ebdad0;}
.gg-main ul{
	margin:0px; padding:0px;
	list-style:none;
	width:230px;
	}
.gg-main ul li{
	background-image:url(../images/0_56.png);
	background-repeat:no-repeat;
	background-position:50px 33px;
	list-style-image:url(../images/0_60.png);
	width:230px; height:40px;}*/
/*通知公告 end*/*/
