@charset "gb2312";
/* CSS Document */

/*服务区.html css样式 start*/

#jq-page-left{
	width:667px;
	height:1146px;
	float:left;
	}
#jq-page-right{
	width:293px;
	float:right;
	display:inline;
	background-color:#f1f1f1;
	margin-bottom:20px;
	}

/*驿站新闻 start*/

.news1{
	width:645px; height:297px;
	margin-top:10px;
	_margin-top:5px;
	float:left;
	}
.yuanjiao1{
	width:6px; height:297px;
	float:left;
	background-image:url(../images/images/services_03.jpg);
	background-repeat:no-repeat;}
.news-right{
	width:639px; height:297px;
	float:left;}
.mid{
	width:624px; height:297px;
	float:left;
	background-image:url(../images/images/services_15.png);
	background-repeat:repeat-x;
	padding-left:9px;
	}
.yuanjiao2{
	width:6px; height:287px;
	float:right;
	background-image:url(../images/images/services_05.jpg);
	background-repeat:no-repeat;}
.news-dh{
	width:615px; height:30px;
	border-bottom:#959595 3px solid;
	}

.ui{
	width:80px; height:24px;
	padding-top:6px;
	float:left;
	border-bottom:#375577 3px solid;}
.ui ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}

.ui-text{
	width:40px; height:22px;
	float:right;
	padding-top:10px;
	padding-left:40px;
	}
.ui-text li{
	list-style:none;
	
	}
.ui-text1{
	width:60px; height:22px;
	float:right;
	padding-top:10px;
}
.ui-text1 ul{
	width:60px; margin:0px; padding:0px;}
.ui-text1 li{
	list-style:none;
	}
.news-imgs{
	width:300px; height:240px;
	float:left;
	}
.news-list{
	width:315px; height:225px;
	float:right;
	margin-top:10px;}
.news-list ul{
	margin:0px;
	padding:0px;
	list-style:none;
	width:295px;
	line-height:25px;}
.news-list ul li{
	height:25px; width:282px;
	border-bottom:#666 1px dashed;
	background-image:url(../images/images/services_16.jpg);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:18px;
}
.news-list li a{
	float:left;}

.news-list li span{
	float:right;
}
.FocusImgFrame{
	width:292px; height:222px;
	border:1px #c7c7c7 solid;
	margin-top:10px;}

.FocusImgFrame{border:1px solid #dee0cb;padding:4px; width:288px; height:218px;}
.FocusImg{background:#f3f4ee;position:relative;width:auto;border:#fff;}
.FocusImg .BigPic{position:relative;zoom:1;padding:0px;text-align:center;overflow:hidden;background:#000;}
.FocusImg .TitleBox{overflow:hidden;font-size:12px;font-weight:bold;color:#fff;text-align:center; position:absolute; bottom:0px; z-index:50;}
.FocusImg .TitileBg{overflow:hidden;background-color:#4c74a6;position:absolute;z-index:49;bottom:0px;right:0px;opacity:0.7;filter:alpha(opacity=70);}
.FocusImg a:link,.FocusImg a:visited{color:#fff;text-decoration:none;}
.FocusImg a:hover{color:#fff;text-decoration:none;}
.FocusImg .Number{font-size:11px;color:#fff;overflow:hidden; position:absolute; right:1px; z-index:50;text-align:right; height:13px;line-height:13px;}
.FocusImg .NumberItem{cursor:pointer; margin:0px 0px 0px 2px; padding:1px 5px; background-color:#000;}
.FocusImg .NumberItemOn{cursor:pointer; margin:0px 0px 0px 2px; padding:1px 5px; background-color:none;}
.FocusImg .NumberItemBg{height : 15px;width : 15px;position : absolute;z-index : 48;background-color:#4c74a6;opacity: 0.7;filter: alpha(opacity=70); }
.FocusImg .BorderHack1{background-color:#707070;position:absolute;z-index:51;height:1px;top:0px; left:0px;font-size:0px;overflow:hidden;}
.FocusImg .BorderHack2{background-color:#707070;position:absolute;z-index:51;width:1px;top:0px;right:0px;font-size:0px;overflow:hidden;}
.FocusImg .BorderHack3{background-color:#707070;position:absolute;z-index:51;height:1px;left:0px;font-size:0px;overflow:hidden;}
.FocusImg .BorderHack4{background-color:#707070;position:absolute;z-index:51;width:1px;left:0px;top:0px;font-size:0px;overflow:hidden;}

/*驿站新闻 end*/	
	



/*高速驿站 start*/
.news2{
	width:645px; height:200px;
	float:left;
	border-left:1px #969696 solid;
	border-right:1px #969696 solid;
	border-bottom:1px #969696 solid;
	margin-top:10px;}
.news2-dh{
	width:645px; height:35px;}
.news-dh-left{
	width:95px; height:35px;
	float:left;}
.news-dh-right{
	width:550px; height:35px;
	float:right;
	display:inline;}
.news-dh-right-top{
	width:550px; height:10px; overflow:hidden;
	background-image:url(../images/images/services_25.jpg);
	background-repeat:repeat-x;}
.news-dh-right-bott{
	width:540px; height:25px;
	background-image:url(../images/images/services_23.png);
	background-repeat:repeat-x;
	padding-left:10px;}
.news-dh-right-bott ul{
	margin:0px; padding:0px;
}
.news-dh-right-bott ul li{
	display:inline;
	list-style:none;
	margin:5px;
	font-size:14px;
	}
.news-dh-right-bott a:link{
	color:#28405c;}
.news-dh-right-bott a:hover{
	color:#252525;}
.more{
	width:50px;
	float:right;}
.list2{
	width:620px; height:150px;
	margin-top:15px;
	margin-left:12px;}
.list2 ul{
	margin:0px;
	padding:0px;
	width:620px;
	height:140px;
	overflow:hidden;
}
.list2  li{
	background-image:url(../images/images/services_30.jpg);
	background-repeat:no-repeat;
	background-position:1px;
	width:79px;
	height:24px;
	padding-left:24px;
	display:inline;
	list-style:none;
	float:left;
	overflow:hidden;}
.list2  a{
	width:75px;
	height:24px;
	line-height:24px;
	display:block;
	overflow:hidden;
	float:left;
}
/*高速驿站 end*/

/*行业规章 start*/
#guizhang{
	width:316px; height:200px;
	float:left;
	padding-top:25px;}

.guizhang-left{
	width:5px; height:179px;
	float:left;
	background-image:url(../images/images/services_26.png);
	background-repeat:no-repeat;
	}
.guizhang-right{
	width:311px; height:179px;
	float:right;
}
.guizhang-right-left{
	width:306px; height:179px;
	float:left;
	border-bottom:1px #d0d0d0 solid;}
.guizhang-right-right{
	width:5px; height:179px;
	float:right;
	background-image:url(../images/images/services_27.png);
	background-repeat:no-repeat;}
.guizhang-dh{
	width:306px; height:31px;}
.guizhang-main{
	width:301px; height:138px;
	margin-top:12px;
	_margin-top:6px;
	padding-left:5px;}
.guizhang-dh-left{
	width:88px; height:23px;
	float:left;
	background-image:url(../images/images/services_28.png);
	background-repeat:no-repeat;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	padding-top:8px;}
.guizhang-dh-right{
	width:208px; height:23px;
	float:right;
	background-image:url(../images/images/services_29.png);
	background-repeat:repeat-x;
	padding-top:8px;}
.guizhang-dh-right a{
	float:right;}
.guizhang-main ul{
	width:301px;
	margin:0px; padding:0px;}
.guizhang-main li{
	list-style-image:none;
	width:280px;
	overflow:hidden;
	display:block;
	line-height:24px;
	background-image:url(../images/0_96.jpg);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:15px;}
.guizhang-main li a{
	width:210px;
	float:left;}
.guizhang-main span{
	width:40px;
	float:right;}
/*行业规章 end*/


/*经验交流 start*/
#jingyan{
	width:316px; height:200px;
	float:left;
	padding-top:25px;
	margin-left:15px;}

.jigyan-left{
	width:5px; height:179px;
	float:left;
	background-image:url(../images/images/services_26.png);
	background-repeat:no-repeat;
	}
.jigyan-right{
	width:311px; height:179px;
	float:right;
}
.jigyan-right-left{
	width:306px; height:179px;
	float:left;
	border-bottom:1px #d0d0d0 solid;}
.jigyan-right-right{
	width:5px; height:179px;
	float:right;
	background-image:url(../images/images/services_27.png);
	background-repeat:no-repeat;}
.jigyan-dh{
	width:306px; height:31px;}
.jigyan-main{
	width:301px; height:138px;
	margin-top:12px;
	_margin-top:6px;
	padding-left:5px;}
.jigyan-dh-left{
	width:88px; height:23px;
	float:left;
	background-image:url(../images/images/services_28.png);
	background-repeat:no-repeat;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	padding-top:8px;}
.jigyan-dh-right{
	width:208px; height:23px;
	float:right;
	background-image:url(../images/images/services_29.png);
	background-repeat:repeat-x;
	padding-top:8px;}
.jigyan-dh-right a{
	float:right;}
.jigyan-main ul{
	width:301px;
	margin:0px; padding:0px;}
.jigyan-main li{
	list-style-image:none;
	width:280px;
	overflow:hidden;
	display:block;
	line-height:24px;
	background-image:url(../images/0_96.jpg);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:15px;}
.jigyan-main li a{
	width:210px;
	float:left;}
.jigyan-main span{
	width:40px;
	float:right;}
/*经验交流 end*/
/*资料下载 start*/
#ziliao{
	width:316px; height:195px;
	float:left;}
/*资料下载 end*/

/*驿站文化 start*/
#yizhan{
	width:316px; height:195px;
	float:right;
	margin-right:19px;
	_margin-right:10px;
	}
/*驿站文化 end*/

	
/*通知公告 start*/
.gonggao-main{
	width:278px; height:280px;
	margin-left:6px;}
.gonggao-bg{
	width:7px; height:280px;
	float:left;
	background-image:url(../images/images/services_07.jpg);
	background-repeat:no-repeat;}
.gonggao-bg1{
	width:271px; height:280px;
	float:right;
}
.gonggao-mid{
	width:266px; height:276px;
	float:left;
	border-bottom:4px #ebdad0 solid;}
.gonggao-bg2{
	width:5px; height:280px;
	float:right;
	background-image:url(../images/images/services_09.png);
	background-repeat:no-repeat;}
.mid-dh{
	width:266px; height:23px;
	background-image:url(../images/images/services_21.png);
	background-repeat:repeat-x;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	padding-top:5px;}
.mid-text{
	width:266px; height:252px;}
.gg-main{
	width:241px; height:237px;
	float:left;
	background-color:#FFF;
	padding-left:25px;
	padding-top:10px;

	}
.gg-main ul{
	width:240px;
	list-style:none;
	margin:0px; padding:0px;
	}


.gg-main li{
	background-image:url(../images/line01.gif);
	background-repeat:no-repeat;
	background-position:30px 27px;
	list-style-image:url(../images/ui.jpg);
	width:235px; height:45px;
	}

/*通知公告 end*/


/*季度排名 start*/
#paiming{
	width:293px; height:200px;
	margin-top:25px;
	}
.baokan-dh,.paiming-dh{
	width:293px; height:26px;
	background-image:url(../images/images/services_25.png);
	background-repeat:repeat-x;
}
.baokan-dh ul,.paiming-dh ul{
	width:280px;
	padding:0px;
	margin:0px;

	}
.baokan-dh li,.paiming-dh ul li{
	width:280px;
	height:26px;
	list-style:none;
	}
.baokan-dh span,.paiming-dh  span{
	width:100px;
	float:left;
	height:21px;
	padding-left:10px;
	padding-top:5px;
	display:block;
	font-size:14px;
	font-weight:bold;
	color:#2b3e5c;

	}
.baokan-dh a,.paiming-dh  a{
	width:45px;
	height:21px;
	padding-top:5px;
	float:right;
	display:block;

	}
.baokan-dh a:link,.paiming-dh a:link{
	color:#2b3e5c;
	text-decoration:none;}
.baokan-dh a:hover,.paiming-dh a:hover{
	color:#393a39;}
.paiming-text1{
	width:293px; height:163px;
	clear:both;
	padding-top:12px;
}
.paiming-text1 ul{
	width:270px;
	margin:0px;
	padding:0px;
	padding-left:10px;
}
.paiming-text1 li{
	background-image:url(../images/0_96.jpg);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:15px;
	list-style:none;
	line-height:24px;
	width:255px;
	float:left;
	border-bottom:1px #666 dashed;
}
.paiming-text1 li a{
	width:180px;
	height:24px;
	float:left;
	display:block;
	overflow:hidden;

}
.paiming-text1 span{
	width:40px;
	height:24px;
	float:right;
	display:block;

}

#ISO{
	width:293px; height:200px;
	margin-top:10px;
	}
/*季度排名 end*/
/*行业报刊 start*/
#baokan{
	width:293px; height:435px;
	margin-bottom:10px;
	}

.baokan-img1{
	width:130px; height:180px;
	float:left;
	margin-left:15px;
	display:inline;
	margin-top:10px;}
.baokan-img1-1{
	width:130px; height:139px;}
.baokan-img1-text{
	width:130px; height:36px;
	
	padding-top:5px;}
.baokan-img1-text ul{
	list-style:none;
	text-align:center;
	margin:0px;
	padding:0px;
	}

/*行业报刊 end*/


#tab{
	width:657px; height:215px; clear:both;}

/*服务区.html css样式 end*/

/*联网收费.html css样式 start*/

#jq-page-top-left{
	width:667px;
	float:left;}
#jq-page-top-right{
	width:293px;
	float:right;
	background-color:#f1f1f1;}

/*jq-page-top-left start*/

/*当前位置 start*/
#position{
	width:645px;
	height:30px;
	margin-bottom:15px;
	display:inline;
	}

.position-top{
	width:645px; height:7px;
	overflow:hidden;
	background-image:url(../images/images/weizhi-01.gif);
	background-repeat:no-repeat;}
.position-bott{
	width:645px; height:25px; margin-bottom:15px; display:inline;}
.position-bott-top{
	width:631px; height:18px;
	background-color:#e3e3e3;
	padding-left:10px;
	}
.position-bott-bott{
	width:645px; height:7px;
	background-image:url(../images/images/weizhi-02.gif);
	background-repeat:no-repeat;}


/*当前位置 start*/

/*工作动态 start*/
.gongzuodongtai-list{
	width:315px; height:225px;
	float:right;
	margin-top:10px;}
.gongzuodongtai-list ul{
	margin:0px;
	padding:0px;
	list-style:none;
	width:300px;
}
.gongzuodongtai-list ul li{
	padding-top:15px;
	height:27px;
	width:300px;
	border-bottom:#666 1px dashed;
	background-image:url(../images/images/services_16.jpg);
	background-repeat:no-repeat;
	background-position:5px;
	padding-left:18px;
	border-bottom:1px #333 dashed;

}
.gongzuodongtai-list li a{
	width:200px;
	float:left;
}

.gongzuodongtai-list li span{
	width:80px;
	float:right;

}
/*工作动态 end*/
/*规章制度 start*/
#guizhangzhidu{
	width:316px; height:259px;
	float:left;
	}
#yifa3{
	width:316px; height:259px;
	float:left;
	margin-top:15px;
	}
.guizhangzhidu-left{
	width:9px; height:259px;
	display:inline;
	float:left;
	background-image:url(../images/images/shoufei-01.png);
	background-repeat:no-repeat;}
.guizhangzhidu-right{
	width:307px; height:259px;
	float:right;
		display:inline;
}
.main-list{
	width:298px; height:257px;
	float:left;
	display:inline;
	border-bottom:1px #d0d0d0 solid;
}
.guizhangzhidu-right-right{
	width:9px; height:259px;
	overflow:hidden;
	float:right;
	background-image:url(../images/images/shoufei-02.png);
	background-repeat:no-repeat;}
.main-list-top{
	width:298px; height:31px;
	background-image:url(../images/images/services_29.png);
	background-repeat:repeat-x;}
.main-list-bott{
	width:298px; height:221px;
	padding-top:5px;}
.main-list-top-left{
	width:98px; height:28px;
	padding-top:3px;
	float:left;
	background-image:url(../images/images/services_28.png);
	background-repeat:no-repeat;}


.main-list-top-right{
	width:198px; height:23px;
	float:right;
	padding-top:8px;

	}
.main-list-top-left-ui{
	width:50px; height:31px;
	float:left;
	}
.main-list-top-left-text{
	width:73px; height:23px;
	float:right;
	padding-top:8px;
	padding-left:5px;}
.main-list-top-right ul{
	list-style:none;
	margin:0px; padding:0px;
	display:block;
	float:right;}
.main-list-bott ul{
	width:285px;
	margin:0px;
	padding:0px;
}
.main-list-bott li{
	list-style:none;
	width:275px;
	background-image:url(../images/images/services_16.jpg);
	background-repeat:no-repeat;
	background-position:3px;
	height:21px;
	line-height:21px;
	padding-left:15px;
	overflow:hidden;
	border-bottom:1px #666 dashed;
	padding-top:10px;
	}
.main-list-bott a{
	width:200px;
	float:left;}
.main-list-bott span{
	width:66px;
	float:right;}

/*规章制度 end*/

/*管理之窗 start*/
#guanlizhichuang{
	width:316px; height:259px;
	float:left;
	margin-left:15px;}
/*管理之窗 end*/
/*jq-page-top-left end*/


/*Page Center top-right Start*/
/*站内公告 start*/
#z-gonggao-main{
	width:278px; height:180px;
	margin-left:6px;
	margin-top:10px;}
.z-gonggao-bg{
	width:7px; height:180px;
	float:left;
	background-image:url(../images/images/services_07.jpg);
	background-repeat:no-repeat;}
.z-gonggao-bg1{
	width:271px; height:180px;
	float:right;
}
.z-gonggao-mid{
	width:266px; height:176px;
	float:left;
	border-bottom:4px #ebdad0 solid;}
.z-gonggao-bg2{
	width:5px; height:180px;
	float:right;
	background-image:url(../images/images/services_09.png);
	background-repeat:no-repeat;}
.z-mid-dh{
	width:266px; height:23px;
	background-image:url(../images/images/services_21.png);
	background-repeat:repeat-x;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	padding-top:5px;}
.z-mid-text{
	width:263px; height:143px;}
.z-gg-main{
	width:239px; height:133px;
	background-color:#FFF;
	padding-top:15px;
	padding-left:25px;}
.z-gg-main ul{
	margin:0px; padding:0px;
	list-style:none;
	width:230px;
	}
.z-gg-main li{
	background-image:url(../images/line01.gif);
	background-repeat:no-repeat;
	background-position:30px 27px;
	list-style-image:url(../images/ui.jpg);
	width:230px; height:40px;}
#z-gg-more li{
	background-image:none;}
/*站内公告 start*/

/*服务之星 start*/
#stars{
	width:293px; height:200px;
	margin-top:20px;}
.stars-dh{
	width:283px; height:26px;
	background-image:url(../images/images/services_25.png);
	background-repeat:repeat-x;
	padding-left:10px;
}
.stars-dh ul{
	width:283px;
	height:26px;
	line-height:26px;
	list-style:none;
	display:inline;
	float:left;
}
.stars-dh li{
	width:278px;
	height:26px;
	line-height:26px;
	float:left;
}
.stars-dh li a{
	width:50px;
	display:block;
	float:right;
	}
.stars-dh span{
	width:200px;
	display:block;
	float:left;
	}
.stars-dh a:link{
	font-size:12px;
	font-weight:normal;
	color:#2a3f5a;}
.stars-dh a:hover{
	color:#393a39;}
.stars-text{
	width:293px; height:174px;}
.stars-img{
	width:145px; height:159px;
	float:left;
	padding-top:15px;
	padding-left:15px;}
.stars-main{
	width:133px; height:159px;
	float:right;
	padding-top:15px;}
.stars-main ul{
	width:130px;
	margin:0px; padding:0px;

	}
.stars-main li{
	width:130px; height:20px;
	list-style:none;
	line-height:20px;

	}
/*服务之星 end*/
#br-img{
	width:275px; height:85px;
	padding-left:17px;
}
#br-img1{
	width:275px; height:85px;
	padding-left:17px;
	margin-top:16px;
	margin-bottom:5px;
}
/*Page Center top-right end*/
#banner{
	width:960px;
	height:130px;
	clear:both;
	padding-top:25px;
	}
	
	
/*Page Center mid start*/
#mid-left{
	width:667px; height:183px;
	float:left;
	margin-top:15px;
	margin-bottom:15px;}
/*基层资讯 start*/
#zixun{
	width:316px; height:179px;
	float:left;
	}
.zixun-left{
	width:5px; height:179px;
	float:left;
	background-image:url(../images/images/services_26.png);
	background-repeat:no-repeat;}	
.zixun-right{
	width:311px; height:179px;
	float:right;}	
.zixun-right-left{
	width:306px; height:179px;
	float:left;}
.zixun-dh{
	width:306px; height:31px;
	background-image:url(../images/images/services_29.png);
	background-repeat:repeat-x;}
.zixun-dh-left{
	width:108px; height:31px;
	float:left;
	background-image:url(../images/images/services_28.png);
	background-repeat:no-repeat;}
.zixun-ui{
	width:17px; height:24px;
	float:left;
	padding-top:7px;
	padding-left:3px;}
.zixun-dh-text{
	width:80px; height:21px;
	float:right;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	padding-top:8px;
	padding-left:5px;}
.zixun-dh-right ul{
	list-style:none;
	display:block;
	margin:0px; padding:0px;
	width:40px;
	float:right;}
.zixun-dh-right{
	width:198px; height:23px;
	float:right;
	padding-top:8px;}
.zixun-main{
	width:306px; height:138px;
	padding-top:10px;
	border-bottom:1px #d0d0d0 solid;}
.zixun-right-right{
	width:5px; height:179px;
	float:right;
	background-image:url(../images/images/services_27.png);
	background-repeat:no-repeat;
	}	
.zixun-main ul{
	width:306px;
	margin:0px;
	padding:0px;}
.zixun-main li{
	list-style:none;
	width:285px;
	height:24px;
	background-image:url(../images/images/services_16.jpg);
	background-repeat:no-repeat;
	padding-left:15px;
	background-position:3px;
}
.zixun-main a{
	width:210px;
	height:24px;
	line-height:24px;
	float:left;
	overflow:hidden;}
.zixun-main span{
	width:65px;
	float:right;
	}	
/*基层资讯 end*/

/*收费站文化 start*/
#culture{
	width:316px; height:179px;
	float:left;
	margin-left:18px;
	}
.culture-dh{
	width:306px; height:31px;
	background-image:url(../images/images/services_29.png);
	background-repeat:repeat-x;}
.culture-dh-left{
	width:118px; height:26px;
	float:left;
	padding-top:5px;
	background-image:url(../images/images/shoufei-09.png);
	background-repeat:no-repeat;}
.culture-ui{
	width:17px; height:24px;
	float:left;
	padding-top:7px;
	padding-left:3px;}
.culture-dh-text{
	width:90px; height:21px;
	float:right;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	padding-top:8px;
	padding-left:5px;
	}
.culture-dh-right{
	width:158px; height:23px;
	float:right;
	padding-top:8px;}
.culture-dh-right ul{
	list-style:none;
	display:block;
	margin:0px; padding:0px;
	width:40px;
	float:right;}


/*收费站文化 end*/

/*Page Center mid end*/

/*星级收费站 start*/
#mid-right{
	width:293px; height:183px;
	float:right;
	margin-top:15px;
	background:#f1f1f1;
}
#stars-sf{
	width:293px; height:179px;
	}
.stars-imags{
	width:278px; height:143px;
	padding-left:15px;
	padding-top:10px;
	overflow:hidden;}
.stars-imags a{
	color:#FFF;}
.stars-imags a:hover{
	color:#FFF;}
/*星级收费站 end*/


/*收费站风采 start*/

#fengcai{
	width:960px; height:184px;
	clear:both;
	background-image:url(../images/x-bg03.png);
	background-repeat:repeat-x;
	border:1px #d4d4d4 solid;
	margin-bottom:20px;
	}
.fc-bg-left{
	width:8px;
	height:180px;
	float:left;}
.fc-bg-right{
	width:952px;
	height:180px;
	float:right;}
.fc-bg2{
	width:944px;
	height:180px;
	float:left;
}
.fc-dh{
	width:944px;
	height:33px;}
.fc-dh ul{
	width:940px;
	height:33px;
	margin:0px;
	padding:0px;
	}
.fc-dh li{
	width:925px;
	height:31px;
	list-style:none;
	padding-left:15px;
	border-bottom:2px #666 solid;
	}
.fc-dh span{
	width:90px;
	height:31px;
	border-bottom:2px #2a3e57 solid;
	float:left;
	display:block;
	}
.fc-dh a{
	width:40px;
	height:21px;
	float:right;
	display:block;
	padding-top:10px;
}
.fc-main{
	width:944px;
	height:157px;
	padding-right:10px;}
.fc-bg3{
	width:8px;
	height:180px;
	float:right;
	}
	
	
	

	
	
	
	

/*收费站风采 start*/

/*联网收费.html css样式 end*/


/*路政执法.html css样式 start*/

#luzheng-left{
	width:298px;
	float:left;
	background-color:#f1f1f1;}

#yj-img{
	width:287px;
	height:90px;
	padding-left:11px;
	margin-top:20px;}
/*路况信息 start*/	
#traffic{
	width:298px; height:175px;
	margin-top:20px;
	}	
.traffic-dh{
	width:288px; height:21px;
	background-image:url(../images/images/services_25.png);
	background-repeat:repeat-x;
	padding-left:10px;
	padding-top:5px;}
.traffic-dh ul{
	width:275px;
	margin:0px;
	padding:0px;
	
	}
.traffic-dh li{
	list-style:none;
	width:275px;
	}
.traffic-dh span{
	width:65px;
	display:block;
	float:left;
}
.traffic-dh a{
	width:40px;
	display:block;
	float:right;}
.traffic-text{
	width:288px; height:134px;
	padding-left:10px;
	padding-top:15px;}
	
.traffic-text ul{
	width:275px;
	margin:0px;
	padding:0px;}	
.traffic-text li{
	width:260px;
	height:23px;
	line-height:23px;
	list-style:none;
	background-image:url(../images/0_96.jpg);
	background-repeat:no-repeat;
	background-position:2px;
	padding-left:15px;
	padding-top:4px;
	border-bottom:#999 1px dashed;}
.traffic-text a{
	width:200px;
	height:23px;
	float:left;
	display:block;
	overflow:hidden;}
	
.traffic-text span{
	width:40px;
	float:right;
	display:block;}	
/*路况信息 end*/	

/*路况风采 start*/
#traffic-fc{
	width:298px; height:430px;
	
	}
	
.traffic-img{
	width:273px; height:390px;
	margin-left:12px;
	padding-top:10px;
}
.img1{
	width:128px;
	height:119px;
	float:left;
	margin-top:7px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;}
.img1-top{
	width:122px;
	height:88px;
	border:1px #999 solid;
	padding:3px;
	}
.img1-bott{
	width:113px;
	height:20px;
	padding-left:15px;
	padding-top:5px;}
.img1-bott a {
	display:block;
	width:100px;
	height:17px;
	overflow:hidden;
	line-height:17px;}
	
.img2{
	width:128px;
	height:119px;
	float:left;
	margin-left:13px;
	margin-top:7px;
	margin-bottom:0px;
	margin-right:0px;}
/*路况风采 end*/
#contact{
	width:283px;
	height:243px;
	padding-left:15px;
	margin-bottom:18px;}


/*luzheng-right start*/
#luzheng-right{
	width:643px;
	float:right;
	padding-left:16px!important;
	padding-left:8px;
	margin-bottom:20px;}
	
/*队伍建设 start*/

	
/*队伍建设 start*/


#yifa{
	width:316px; height:259px;
	float:left;
	margin-left:11px;
	margin-top:15px;}
#banner1{
	width:645px;
	height:105px;
	clear:both;
	padding-top:15px;}	
	
#overrun{
	width:316px; height:259px;
	float:left;
	}


#wenming{
	width:316px; height:259px;
	float:left;
	margin-left:11px; _margin-left:8px;
}
/*luzheng-right end*/
/*路政执法.html css样式 end*/



/*人文高速.html css样式 start*/

/*位置 start*/
#weizhi0{
	width:960px; height:32px;
	clear:both;}
.weizhi0-top{
	width:960px; height:7px; overflow:hidden;
	background-image:url(../images/renwen/renwen_35.png);
	background-repeat:no-repeat;}
.weizhi0-bott{
	width:960px; height:25px;}
.weizhi0-bott-top{
	width:950px; height:18px;
	background-color:#e3e3e3;
	padding-left:10px;
	}
.weizhi0-bott-bott{
	width:960px; height:7px;
	background-image:url(../images/renwen/renwen_36.png);
	background-repeat:no-repeat;}

/*位置 end*/


/*Page Center left Start start*/
#renwen-left{
	width:277px;
	float:left;}
/*最新推荐 start*/
#recommend{
	width:277px;
	height:384px;
	float:left;
	margin-top:13px;}
.recommend-top{
	width:274px; height:8px; overflow:hidden;
}
	
.recommend-bott{
	width:274px; height:366px;}	
.recommend-bott-top{
	width:270px; height:356px;
	background-image:url(../images/renwen/renwen_08.png);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#f3f3f3;
}	
.recommend-dh{
	width:264px; height:20px;
	padding-left:10px;}
.recommend-dh ul{
	width:255px;
	margin:0px;
	padding:0px;
	}
.recommend-dh li{
	width:255px;
	height:20px;
	list-style:none;
	border-bottom:1px #666 dashed;}
.recommend-dh span{
	width:100px;
	float:left;
	display:block;
	font-size:14px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#3d5e83;
	
}
.recommend-dh a{
	display:block;
	height:11px;
	width:40px;
	float:right;
	padding-top:5px;}
.recommend-text{
	width:264px; height:326px;
	padding-left:10px;
	_padding-left:5px;
	padding-top:10px;}
.recommend-text ul{
	width:270px;
	margin:0px;
	padding:0px;}	
.recommend-text li{
	list-style:none;
	line-height:28px;
	width:250px;
	height:28px;
	background-image:url(../images/renwen/renwen_30.jpg);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:20px;}	
.recommend-bott-bott{
	width:277px; height:10px;
}
/*最新推荐 end*/
#ren-bott{
	clear:both;
	width:960px;}
/*散文 start*/
#prose{
	width:316px;
	height:326px;
	float:left;
	margin-top:8px;
}
.prose-top{
	width:316px;
	height:8px;}
.prose-bott1{
	width:316px;
	height:316px;
	}

	
	
	
	
.recommend-bott1{
	width:277px; height:306px;
}

.recommend-text1{
	width:264px; height:275px;
	padding-left:10px;
	_padding-left:5px;
	}
.recommend-text1 ul{
	width:270px;
	margin:0px;
	padding:0px;}	
.recommend-text1 li{
	list-style:none;
	line-height:31px;
	width:250px;
	height:31px;
	background-image:url(../images/renwen/renwen_30.jpg);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:20px;}	
.recommend-bott-top1{
	width:274px; height:295px;
	background-image:url(../images/renwen/renwen_08.png);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#f3f3f3;
}
/*散文 end*/
/*Page Center left Start end*/
#renwen-right{
	width:683px;
	float:right;
	margin-top:13px;}
#shuhua{
	width:668px; height:365px;
	float:right;
	padding-left:15px!important;
	padding-left:8px;
	margin-top:12px;}
.sh-top{
	width:670px;
	height:8px;
	}
.sh-bott{
	width:670px;
	height:357px;}
.sh-bott-top{
	width:663px;
	height:357px;
	background:#f2f2f2;
	}
.sh-dh{
	width:663px;
	height:28px;}
.sh-dh-top{
	width:653px;
	height:26px;
	padding-left:10px;
	}
.sh-dh-top ul{
	width:646px;
	margin:0px;
	padding:0px;}
.sh-dh-top li{
	width:646px;
	height:26px;
	list-style:none;
}
.sh-dh-top span{
	width:70px;
	height:26px;
	display:block;
	float:left;
}
.sh-dh-top a{
	height:20px;
	padding-top:6px;
	width:40px;
	float:right;
	display:block;}
.sh-dh-bott{
	width:644px;
	padding-left:9px;
	height:2px;
	}
.sh-main{
	width:653px;
	height:327px;
	padding-left:10px;
	}
.sh-bott-bott{
	width:670px;
	height:10px;}
/*诗歌 start*/
#poetry{
	width:311px; height:326px;
	float:left;
	display:inline;
}
#poetry1{
	width:311px; height:326px;
	float:left;
	display:inline;
	margin-left:13px;
}
.poetry-top{
	width:311px;
	height:8px;
	overflow:hidden;

	}
.poetry-bott{
	width:311px; height:308px;}
.poetry-bott-top{
	width:311px; height:297px;
	background-image:url(../images/renwen/renwen_08.png);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#f3f3f3;}
.poetry-dh{
	width:286px; height:25px;
	margin-left:15px;}
.po-ui{ width:50px; height:25px;
float:left;
border-bottom:2px #3d5e83 solid;}
.poe-ui{
	width:10px; height:23px;
	float:left;
	padding-top:2px;}
.poe-t{
	width:40px; height:25px;
	float:right;
	font-size:14px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#3d5e83;
}
.po-t{
	width:236px; height:20px; 
	float:right;
	padding-top:5px;
	border-bottom:2px #666 solid;}
.po-t a{
	width:40px;
	display:block;
	float:right;}
.poetry-text{
	width:295px; height:265px;
	clear:both;
	padding-left:15px;}
.poetry-text ul{
	width:270px;
	margin:0px;
	padding:0px;}	
.poetry-text li{
	list-style:none;
	line-height:31px;
	width:250px;
	height:31px;
	background-image:url(../images/renwen/renwen_27.jpg);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:20px;}	

.poetry-bott-bott{
	width:311px; height:8px;
}
#ren-right{
	width:637px;
	float:right;}

/*诗歌 end*/

/*人文高速.html css样式 end*/



/*服务信息.html css样式 start*/
/*left start*/
#fuwu-left{
	width:275px;
	float:left;
	background:#f2f2f2;
	margin-top:15px;}

/*实时路况 start*/

.road{ width:253px; height:183px; font:宋体; margin-top:5px;margin-left:13px;}
.road-bg{ width:3px; height:183px; float:left;}
.road-bg1{ width:250px; height:183px; float:right;}
.road-bg2{ width:247px; height:183px; float:left;}
.road-bg3{ width:3px; height:183px; float:right;}
.p{LINE-HEIGHT: 50%; align:center;}
.road-dh{ width:247px; height:23px; background-image:url(../images/likuang-3.gif);background-repeat:repeat-x; padding-top:5px; font-weight:bold; font-size:14px; color:#FFF; text-align:center; }
.road-main{ width:237px; height:155px; font-size:12px; padding-left:10px; background:#FFF;}
.road-main ul{ width:232px; margin:0px; padding:0px;}
.road-main li{ width:217px; line-height:20px; background-image:url(../images/0_96.jpg); background-repeat:no-repeat; padding-left:15px; list-style:none; background-position:2px 8px;}
.road-main a{ color:#393a39;  text-decoration:none; }
.road-main a:hover{color:#345377; text-decoration:underline;}
/*实时路况 end*/
#map{
	width:250px;
	height:215px;
	margin-left:15px;
	 margin-top:15px; 
}
#images{
	width:250px;
	height:90px;
	padding-left:15px;
margin-top:15px;
}
/*left end*/

/*right start*/
#fuwu-right{
	width:685px;
	float:right;
	margin-top:20px;
	margin-bottom:20px;}
#introduction{
	width:675px;
	height:270px;
	padding-left:10px;}
.introduction-dh{
	width:674px;
	height:40px;
	text-align:center;
	font-size:20px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#3d5e83;
	border-bottom:3px #3d5e83 solid;}
.introduction-main{
	width:667px;
	height:220px;
	line-height:24px;
	text-indent:24px;
	padding-left:7px;
	padding-top:10px;}
#news-j{
	width:665px; height:225px;
	border:1px #3d5e83 solid;
	margin-left:10px;
	margin-top:20px;}
.n-img{
	width:258px; height:210px;
	float:left;
	padding-top:15px;
	padding-left:15px;}
.n-main{
	width:392px;
	height:225px;
	float:right;}
.n-main-dh{
	width:127px;
	height:30px;
	padding-left:265px;}
.n-main-list{
	width:379px;
	height:192px;
	padding-top:3px;
	padding-left:13px;}
.n-main-list ul{
	width:354px;
	margin:0px;
	padding:0px;}
.n-main-list li{
	width:339px;
	line-height:26px;
	height:26px;
	list-style:none;
	background-image:url(../images/0_96.jpg);
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:15px;
	border-bottom:1px #666 dashed;}
.n-main-list a{
	display:block;
	color:#393a39;
	width:250px;
	float:left;
	overflow:hidden;}
.n-main-list a:hover{color:#345377; text-decoration:underline;}
.n-main-list span{
	display:block;
	width:40px;
	float:right;}
/*right end*/


/*服务信息.html css样式 end*/




/*联系我们.html css样式 start*/
#add-img{
	width:894px; height:551px;
	padding-left:66px;
	margin-top:15px;}
#add-ph{
	width:482px; height:115px;
	margin-left:220px;
	background-image:url(../images/images/lianxiwomen-02.png);
	background-position:right;
	background-repeat:no-repeat;
	line-height:12px;
	padding-top:15px;
	padding-bottom:50px;
	}
/*联系我们.html css样式 end*/


/*信息管理系统.html css样式 start*/
#xixinguanli{
	width:960px; height:578px;
	background-image:url(../images/images/xinxiguanlixitong.jpg);
	background-repeat:no-repeat;
	margin-top:15px;
	margin-bottom:20px;}
.botton{
	width:150px; height:25px;
	float:right;
	margin-top:25px;}
.botton1{
	width:200px; height:25px;
	float:right;
	clear:both;
	margin-top:33px;}
.botton2{
	width:270px; height:25px;
	float:right;
	clear:both;
	margin-top:33px;}
.botton3{
	width:365px; height:25px;      
	float:right;
	clear:both;
	margin-top:35px;}
.botton4{
	width:490px; height:25px;
	float:right;
	clear:both;
	margin-top:35px;}
.botton5{
	width:405px; height:25px;
	float:left;
	clear:both;
	margin-top:33px;
	margin-top:318px\9;
	text-align:right;}
.botton6{
	width:430px; height:25px;
	float:right;
	clear:both;
	margin-top:4px;
	margin-top:62px\9;
	text-align:left;}
.botton7{
	width:370px; height:25px;
	float:right;
	clear:both;
	margin-top:34px;
	text-align:left;}
.botton8{
	width:305px; height:25px;
	float:right;
	clear:both;
	margin-top:34px;
	text-align:left;}



.botton a,.botton1 a,.botton2 a,.botton3 a,.botton4 a,.botton5 a,.botton6 a,.botton7 a,.botton8 a{
	font-size:18px;
	font-family:"方正大标宋简体";
	color:#345377;
	}
.botton a:visited,.botton1 a:visited,.botton2 a:visited,.botton3 a:visited,.botton4 a:visited,.botton5 a:visited,.botton6 a:visited,.botton7 a:visited,.botton8 a:visited{
	font-size:18px;
	font-family:"方正大标宋简体";
	color:#345377;
	text-decoration:none;
	}
.botton a:hover,.botton1 a:hover,.botton2 a:hover,.botton3 a:hover,.botton4 a:hover,.botton5 a:hover,.botton6 a:hover,.botton7 a:hover,.botton8 a:hover{
	font-size:18px;
	font-family:"方正大标宋简体";
	color:#393a39;
	text-decoration:none;
	}
	




.botton a:active,.botton1 a:active,.botton2 a:active,.botton3 a:active,.botton4 a:active,.botton5 a:active,.botton6 a:active,.botton7 a:active,.botton8 a:active{
	font-size:18px;
	font-family:"方正大标宋简体";
	color:#393a39;
	text-decoration:none;
	}
	

/*信息管理系统.html css样式 end*/

/*图行河南.html css样式 start*/
#tuxing-left{
	width:271px;
	height:374px;
	float:left;
	background:#f2f2f2;
	margin-top:15px;}

.tuxing-l{
	width:253px;
	height:356px;
	margin:9px;}

.henan{
	width:253px;
	height:236px;}
.batton{
	width:253px;
	height:109px;
	background:#FFF;
	margin-top:9px;}
.batt{
	width:78px;
	height:23px;
	float:left;
	background-image:url(../images/images/tuxinghenan-02.png);
	background-repeat:no-repeat;
	padding-top:6px;
	text-align:center;
	margin:3px;
	display:inline;
	}

#tuxing-right{
	width:674px;
	height:374px;
	float:right;
	padding-left:15px;
	margin-top:15px;
	margin-bottom:20px;}
.tuxing-dh{
	width:672px;
	height:30px;
	
	border-bottom:3px #355275 solid;}
.tuxing-dh ul{
	width:150px;
	margin:0px;
	padding:0px;}
.tuxing-dh li{
	width:130px;
	height:30px;
	list-style:none;
	color:#355275;
	}
.tuxing-main{
	width:672px;
	height:334px;
	padding-top:10px;}
.tuxing-main{
	line-height:24px;
	text-indent:30px;}





/*图行河南.html css样式 end*/