@charset "gb2312";
/* CSS Document */

/*Example for a Menu Style*/
.menu { background-image:url(../images/dh-bg.png); background-repeat:no-repeat; width:520px; height:26px; padding-left:120px; padding-top:8px;border-right:1px solid #969696;}
.menu ul {margin:0px; padding:0px; list-style:none;}
.menu li {display:inline; line-height:27px;}
.menu li a {  font-size:14px; color:#39587c;text-decoration:none; padding:5px;border-left:1px solid #39587c;}
.menu li a.tabactive {background-color:#FFF; position:relative; width:105px;}
#tabcontent1,#tabcontent2,#tabcontent3,#tabcontent4,#tabcontent5{ width:631px; border:1px #969696 solid;  height:155px; border-top:none; font-size:12px; padding-left:8px!important;padding-left:4px;}
#tabcontent2 ul,#tabcontent1 ul,#tabcontent3 ul,#tabcontent4 ul,#tabcontent5 ul{ width:635px; margin:0px; padding:0px; padding-top:15px;}
#tabcontent1 li,#tabcontent2 li,#tabcontent3 li,#tabcontent4 li,#tabcontent5 li{ width:300px; height:24px; padding-left:15px; list-style:none; float:left;display:inline; background-image:url(../images/0_96.png); background-position:3px;background-repeat:no-repeat;line-height:28px;}
#tabcontent1 a,#tabcontent2 a,#tabcontent3 a,#tabcontent4 a,#tabcontent5 a{ width:230px; float:left; display:block; height:24px; overflow:hidden;}
#tabcontent1 span,#tabcontent2 span,#tabcontent3 span,#tabcontent4 span,#tabcontent5 span{ width:60px; float:right; display:block;}
a:link{
	color:#393a39;
	text-decoration:none;
}
a:hover{
	color:#39587c;
	text-decoration:none;
}
#tabcontent2,#tabcontent3,#tabcontent4,#tabcontent5{
	display:none}