@charset "gb2312";
/* CSS Document */

.fc-main {
    color: #2C2C2C;
    font-family: "ו";
    font-size: 12px;
    margin: 0;
    padding: 0;
}
div, ul, li, form, dl, dt, dd, p, h1, h2, input, colgroup, col {
    border: medium none;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none outside none;
}

a {
    color: #2C2C2C;
    outline: medium none;
    text-decoration: none;
}




#cover-story dd {
    
    height: 155px;
    overflow: hidden;
    padding-top: 20px;
    width: 944px;
}
#leftarr, #rightarr {
    background:url(../images/left.png) no-repeat;
    cursor: pointer;
    display: inline;
    float: left;
    height: 27px;
    margin: 50px 6px 0;
    width: 17px;
}
#rightarr {
    background:url(../images/right.png) no-repeat;
    float: right;
    margin-left: 0;
}
#scroll {
    float: left;
    height: 126px;
    overflow: hidden;
    width: 882px;
}
#scroll ul {
    clear: none;
    float: left;
    height: 136px;
    margin-right: 14px;
    overflow: hidden;
    width: 98px;
}
#scroll li {
    height: 93px;
    overflow: hidden;
    text-align: center;
}
#scroll li img {
    border: 1px solid #DCDCDC;
    height: 85px;
    width: 96px;
}
#scroll li a {
    color: #0D519C;
    line-height: 30px;
}