@charset "gb2312";
/* CSS Document */

body, div, address, blockquote, iframe, ul, li, ol, dl, dt, dd, 
h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, 
form, legend, fieldset, input, button, select, img, textarea,div {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    font-family:"宋体";
	color:#333333;
	line-height:22px;
	 list-style-type:none;
	 border:none;
}

.clear{ clear:both;}
.fon14{ font-size:14px;}
.align{ text-align:center;}
/*左右浮动*/
.left{ float:left;}
.right{ float:right;}
/*margin*/
.mar_l10{ margin-left:10px;}
.mar_r20{ margin-right:20px;}
.mar_t10{ margin-top:10px;}
.mar_t20{ margin-top:20px;}
/*a标签及样式颜色*/

a{ text-decoration:none; color:#333;}
a:hover{ color:#F90;}
.blue{ color:#06c; font-weight:bold;}
.red{ color:#C00;}
.orange{ color:#F90;}


/*--------------------------更多-----------------------------*/
.more{ float:right; margin-right:10px; _margin-right:5px; height:30px; line-height:30px; overflow:hidden;}
.more38{ float:right; margin-right:10px; height:36px; line-height:36px; overflow:hidden;}

/*--------------------------首页内容-----------------------------*/
#main{ width:980px; margin:0 auto; margin-top:10px; overflow:hidden;}

/*电子地图*/
#map,#lukuang{ width:240px; background:#f3f3f3; overflow:hidden;}
/* #map dt{ background:url(../images/map_t.jpg) no-repeat; height:31px; overflow:hidden;}*/
/* #map dd{margin-top:5px; text-align:center; overflow:hidden;}*/
/*实时路况*/
#lukuang dt{ background:url(../images/lukuang.jpg) no-repeat; height:31px; overflow:hidden;}
#lukuang dd{ padding:5px 8px;}
.left_b{ background:url(../images/left_b.jpg) no-repeat; height:5px; width:240px; overflow:hidden;}

/*政务信息*/
#new_xinxi{ width:470px; background:#f3f3f3; overflow:hidden;}
#new_xinxi dt{ background:url(../images/new_xinxi.jpg) no-repeat; height:30px; overflow:hidden;}
#new_xinxi dd{ margin:5px; overflow:hidden;}
.new_xinxi_con{ width:230px; overflow:hidden;}
.new_xinxi_con h1{ font-size:14px;margin:0 auto; text-align:center; font-weight:bold;}
.new_xinxi_con h1 a{ color:#06C;}
.new_xinxi_con h1 a:hover{ color:#09C;}
#new_xinxi ul li{ line-height:24px; background:url(../images/ico1.jpg) left center no-repeat; border-bottom:1px #afecca dashed; padding-left:1em; overflow:hidden;}
#new_xinxi ul li span{ float:right;}
.new_xinxi_b{ background:url(../images/new_xinxi_b.jpg) no-repeat; width:470px; height:5px; overflow:hidden;}
/*公告公示*/
#gonggao{ width:250px; height:328px; background:#f3f3f3; overflow:hidden;}
#gonggao dt{ background:url(../images/gongggao_t.jpg) no-repeat; line-height:30px; font-size:14px; font-weight:bold; color:#09C; padding-left:4em; height:30px; overflow:hidden;}
#gonggao dd{ margin-top:5px;}
#gonggao ul li{ line-height:22px; background:url(../images/ico2.jpg) 0 5px  no-repeat;  padding-left:1.5em; overflow:hidden;}
/*搜索*/
.search{ background:url(../images/search_bg.jpg) no-repeat; height:70px; width:250px; overflow:hidden;}
/*广告*/
.propagate{ width:976px; height:106px; border:1px #CCC solid; padding:1px; overflow:hidden;}
/*左侧服务快捷方式*/
#fuwu{ width:220px; background:url(../images/fuwu_c.jpg) repeat-y; overflow:hidden;}
#fuwu ul li{ margin-left:8px; height:64px; overflow:hidden;}
#fuwu p.fuwu_t{ background:url(../images/fuwu_t.jpg) no-repeat; height:5px; overflow:hidden;}
#fuwu p.fuwu_b{ background:url(../images/fuwu_b.jpg) no-repeat; height:5px; overflow:hidden;}
/*4个新闻列表*/
.list{ width:370px;background:url(../images/list_c.jpg) repeat-y; overflow:hidden;}
.list dt{font-size:14px; height:38px; line-height:38px; font-weight:bold; color:#09C; padding-left:5em;}
.list dt.dongtai{ background:url(../images/list1.jpg) no-repeat; height:38px; overflow:hidden;}
.list dt.xinwen{ background:url(../images/list2.jpg) no-repeat; height:38px; overflow:hidden;}
.list dt.zhengce{ background:url(../images/list3.jpg) no-repeat; height:38px; overflow:hidden;}
.list dt.down{ background:url(../images/list4.jpg) no-repeat; height:38px; overflow:hidden;}

.list dd.list_b{ background:url(../images/list_b.jpg) no-repeat; height:10px; overflow:hidden;}

.list ul{ margin:0 20px;}
.list ul li{ line-height:28px; border-bottom:1px #ccc dashed; overflow:hidden;}
.list ul li span{ float:right;}

/*----高速采风-----*/
.caifeng_t{background:url(../images/caifeng_t.jpg) 75px top no-repeat; height:5px; overflow:hidden;}
.caifeng_r{background:url(../images/caifeng_r.jpg) right top no-repeat; height:141px;overflow:hidden;}
.caifeng_b{background:url(../images/caifeng_b.jpg) 75px top no-repeat; height:5px; overflow:hidden;}
.caifeng_l{background:url(../images/caifeng_l.jpg) no-repeat; height:141px; overflow:hidden;}
/*图片滚动*/
.gundong{width:860px; margin-left:85px; height:auto; line-height:22px; text-align:center;overflow:hidden;}
.gundong a{ color:#F60;}
#marquePic1 img,#marquePic2 img{ width:150px; height:120px; overflow:hidden; padding:1px; border:1px #ccc solid;}
.gundong2 tr td { text-align:center; padding-left:5px; padding-top:3px; padding-bottom:4px;}



/*友情链接*/
#link{ width:220px; background:#eee;  border:1px #CCC solid; overflow:hidden;}
#link dt{ background:url(../images/link_t.jpg) no-repeat;font-size:14px; font-weight:bold; color:#09C; padding-left:4em; line-height:29px; height:29px; padding-left:3em; overflow:hidden;}
#link dd{ margin-left:20px; margin-top:18px;color:#000;}
/*管理公司、收费站、路政、服务区*/
#companylist{ width:748px; height:207px;_height:190px; border:1px #CCC solid; overflow:hidden;}
.news_line{ background:url(../images/company_bg.jpg) repeat-x; height:29px; overflow:hidden;}
.news_nav a{ display:block; color:#2c97e7; border-right:1px #CCC solid; float:left; height:29px; line-height:29px; width:80px; text-align:center;}
.news_nav a.xinwen2{ font-size:14px; background:#FFF; font-weight:bold;}
.company{ margin: 5px 10px;}
.company li{ float:left; height:44px; _height:40px; background:url(../images/ico3.jpg) left 5px no-repeat; padding-left:1.5em; width:160px; overflow:hidden;}

.companylst{ margin: 5px 10px;}
.companylst li{ float:left; height:44px; _height:40px; background:url(../images/ico3.jpg) left 5px no-repeat; padding-left:1.5em; width:225px; overflow:hidden;}

.servicelst{ margin: 5px 10px;}
.servicelst li{ float:left; height:34px; _height:32px; background:url(../images/ico3.jpg) left 5px no-repeat; padding-left:1.5em; width:100px; overflow:hidden;}


.lzlist{ margin: 5px 10px;}
.lzlist li{ float:left; height:34px; _height:32px; background:url(../images/ico3.jpg) left 5px no-repeat; padding-left:1.5em; width:160px; overflow:hidden;}
