@charset "gb2312";
/* CSS Document */

.more{ float:right; margin:13px 17px 0 0; _margin:13px 10px 0 0;overflow:hidden;}

#main{ width:980px; margin:0 auto; margin-top:10px; overflow:hidden;}

/*站内公告*/
.zngg dt{ background:url(../images/station/zngg_t.jpg) no-repeat; height:34px; overflow:hidden}
.zngg dd{border-left:1px #CCC solid; border-right:1px #CCC solid; background:url(../images/station/zngg_c.jpg) repeat-x; height:226px; overflow:hidden;}
.zngg dd.zngg_b{ border-left:none; border-right:none; background:url(../images/station/zngg_b.jpg) no-repeat; height:5px;}
.zngg ul{ width:250px; margin:5px auto; overflow:hidden;}
.zngg ul li{ margin-bottom:10px; background:url(../images/station/ico2.jpg) left 5px no-repeat; line-height:22px; padding-left:1em; overflow:hidden;}
.zngg ul li span{ margin-left:10px; color:#F90;}

/*星级收费站*/
#stations dt{ background:url(../images/station/station_t.jpg) no-repeat; height:34px; overflow:hidden;}
#stations dd{ background:url(../images/station/station_dd.jpg) no-repeat; text-align:center; height:183px; overflow:hidden;}
#stations dd p{text-align:center; margin-top:10px;}
#stations dd p img{ width:240px; height:150px; overflow:hidden; padding:1px; border:1px #CCC solid;}

/*服务之星*/
#stars dt{ background:url(../images/station/star_t.jpg) no-repeat; height:34px; overflow:hidden;}
#stars dd{ background:url(../images/station/star_dd.jpg) no-repeat; height:167px; overflow:hidden;}

.star_con{width:120px; float:right; margin:7px 10px 0 0; _margin:7px 5px 0 0; overflow:hidden;}
.star_con p{ text-align:center; color:#C00;}
.star_img{ margin:10px 0 0 10px;}
.star_img img{ width:120px; height:140px; padding:1px; border:1px #CCC solid; overflow:hidden;}

/*收费站新闻*/
#news{ width:700px; overflow:hidden;}

#news dl dt{ background:url(../images/station/gzgt_t.jpg) no-repeat; width:700px; height:34px; overflow:hidden;}
#news dl dd{ border-left:1px #CCC solid; border-right:1px #CCC solid; background:url(../images/station/gzgt_c.jpg) repeat-x; height:225px;  overflow:hidden;}
#news dl dd.gzdt_b{ background:url(../images/station/gzdt_b.jpg) no-repeat; width:700px; height:5px; border-left:none; border-right:none; overflow:hidden;}

#news ul{width:400px; margin:7px auto; overflow:hidden;}
#news ul li{ background:url(../images/station/ico1.jpg) left center no-repeat; padding-left:1em; border-bottom:1px #CCC dashed; overflow:hidden;}
#news ul li span{ float:right; overflow:hidden;}
/*管理之窗、规章制度*/
.gzzd,.glzc{ width:345px; height:200px; overflow:hidden;}
.gzzd dt{background:url(../images/station/gzzd_t.jpg) no-repeat; height:33px; overflow:hidden;}
.glzc dt{background:url(../images/station/glzc_t.jpg) no-repeat; height:33px; overflow:hidden;}
.gzzd dd{background:url(../images/station/gzzd_c.jpg) repeat-x; border-left:1px #CCC solid; border-right:1px #CCC solid; height:162px; overflow:hidden;}
.glzc dd{background:url(../images/station/glzc_c.jpg) repeat-x; border-left:1px #CCC solid; border-right:1px #CCC solid; height:162px; overflow:hidden;}
.gzzd dd.gzzd_b{background:url(../images/station/gzzd_b.jpg) no-repeat; border-left:none; border-right:none;height:5px; overflow:hidden;}
.glzc dd.glzc_b{background:url(../images/station/glzc_b.jpg) no-repeat; border-left:none; border-right:none; height:5px; overflow:hidden;}

/*收费站查询*/
#station_sear dt{ background:url(../images/station/sear_t.jpg) no-repeat; height:36px; overflow:hidden;}
#station_sear dd{ background:url(../images/station/sear_bg.jpg) repeat-x; width:698px; border-left:1px #CCC solid; border-right:1px #CCC solid; height:181px; overflow:hidden;}

#station_sear ul{ width:660px; margin:10px auto; overflow:hidden;}
#station_sear ul li{ float:left; line-height:24px; background:url(../images/station/ico2.jpg) left center no-repeat; width:120px; padding-left:1em; overflow:hidden;}

.sear_type{ width:400px; margin-left:130px; margin-top:8px;overflow:hidden;}
.sear_type a{ display:block; color:#09C; font-weight:bold; float:left; text-align:center; width:100px;height:26px; line-height:26px; overflow:hidden;}
.sear_type a:hover{ background:url(../images/station/sear_hover.jpg) no-repeat; overflow:hidden;}

.tousu{ background:url(../images/station/tousu.jpg) no-repeat; height:88px; overflow:hidden;}
.tousu_con{width:240px; margin:0 auto;margin-top:69px;}
.tousu_con a{ color:#03C; font-weight:bold;}

.tousu_cons table{ width:500px;overflow:hidden;}
.tousu_cons table tr th{ text-align:right; padding-top:10px;}
.tousu_cons table tr td{ padding-top:10px;}
.tousu_bor{ border:1px #CCC solid; height:22px;}
.tousu_cons table tr td textarea{ border:1px #CCC solid;}
.tousu_cons table tr td span{ color:#f00;}
.tousu_btn{ background:url(../images/station/btn_bg.gif) no-repeat; border:none; width:52px; height:22px; overflow:hidden; color:#FFF;}

#jiceng,#wenhua{ width:345px; overflow:hidden;}
#jiceng dt{ background:url(../images/station/jiceng_t.jpg) no-repeat; height:33px; overflow:hidden;}
#jiceng dd{ width:341px; padding:1px; border:1px #c0daff solid; border-top:none; overflow:hidden;}

#wenhua dt{ background:url(../images/station/wenhua_t.jpg) no-repeat; height:33px; overflow:hidden;}
#wenhua dd{ width:341px; padding:1px; border:1px #c9c9e3 solid; border-top:none; overflow:hidden;}


#jiceng ul,#wenhua ul,.gzzd ul,.glzc ul{ width:320px; margin:1px auto; overflow:hidden;}
#jiceng ul li,#wenhua ul li,.gzzd ul li,.glzc ul li{ background:url(../images/station/ico1.jpg) left center no-repeat; padding-left:1em; border-bottom:1px #CCC dashed; line-height:26px; overflow:hidden;}
#jiceng ul li span,#wenhua ul li span,.gzzd ul li span,.glzc ul li span{ float:right;}



.photo_l{ background:url(../images/station/photo_l.jpg) left center no-repeat; height:171px; overflow:hidden;}
.photo_r{ background:url(../images/station/photo_r.jpg) right center no-repeat;  height:171px; overflow:hidden;}
.photo_t{ background:url(../images/station/photo_t.jpg) top top no-repeat; height:28px; overflow:hidden;}
.photo_bg{ background:url(../images/station/photo_bg.jpg) repeat-x; height:171px; overflow:hidden;}

/*收费站图片滚动*/
.gundong{width:900px;line-height:22px;text-align:center; margin:0 auto; margin-top:10px;overflow:hidden;}
.gundong a{ color:#F60;}
.gundong table tr td img{ width:150px; height:120px; overflow:hidden; padding:1px; border:1px #D5E2ED solid;}
.gundong2 tr td { text-align:center; padding-left:5px; padding-top:5px;}


#main2{ width:800px; margin:0 auto; margin-top:10px; overflow:hidden;}
.wid210{ width:210px; overflow:hidden;}
.wid580{ width:580px; overflow:hidden;}


.search2{ background:url(../images/search2.jpg) no-repeat; height:70px; overflow:hidden;}

.weizhi{ background:url(../images/weizhi_bg.jpg) no-repeat; padding-left:3em; margin-bottom:10px; line-height:26px; height:26px; overflow:hidden;}

.contact_weizhi{ background:url(../images/contact_weizhi.jpg) no-repeat; padding-left:3em; margin-bottom:10px; line-height:26px; height:26px; overflow:hidden;}

/*-----------翻页-------------*/
.fanye{ width:560px; margin:0 auto; color:#000; text-align:center; margin-top:10px; background:#e3f7fe; overflow:hidden;}
.fanye span{ margin:0 10px;}

.newlist{ width:560px; margin:0 auto;}
.newlist li{ line-height:26px; background:url(../images/ico4.jpg) left center no-repeat; padding-left:1em; overflow:hidden;}
.newlist li span{ float:right;}

.piclist{}
.piclist li{ float:left; margin:10px; text-align:center; overflow:hidden;}
.piclist li img{ width:120px; height:90px; padding:1px; border:1px #CCC solid; overflow:hidden;}


.mess_name{padding-left:1.5em; padding-top:10px; font-size:14px; font-weight:bold;}
.mess_con{margin:0 auto; margin-top:10px; border:1px #CCC solid; width:570px; overflow:hidden;}

.answer{background:url(../images/station/admin.gif) 5px 8px no-repeat;padding:5px 2em; padding-right:1em;  border-top:1px #CCC solid;}
.say_con{padding:5px 2em; padding-right:1em;}
.say_date{background:#eee url(../images/station/people.gif) 5px 3px no-repeat; border-bottom:1px #ddd solid; padding-left:2em;}