<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionStrings" value="OeMawgdFWaubcBLrFES0kwAdD+KZUeOlE/vfylvjzWwHmASEuRetBeYe5irNMQ7G"/>
    <add key="EncryptKey" value="smartbooks"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">

      <providers>

        <add name="XmlSiteMapProvider"

            description="SiteMap provider which reads in .sitemap XML files."

            type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"

            siteMapFile="web.sitemap"/>

      </providers>

    </siteMap>
    <httpHandlers>
      <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>
    </httpHandlers>

    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。-->
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="120" requestValidationMode="2.0"/>
    
    <!-- 
      请在server.msc中开启ASP.NET 状态服务。    
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="20"></sessionState>-->

    <sessionState timeout="20"></sessionState>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>