body,html
{
    overflow:hidden;
    height:100%;
    width:100%;
}

/*头部样式开始*/
#hander
{
    width:100%;
    height:61px;
    overflow:hidden;
    float:left;
    display:block;
    margin:0;
    padding:0;
}
#handerleft
{
    width:248px;
    background-image:url("../images/handerlogo.png");
    height:100%;
    float:left;
    margin:0;
    padding:0;
}
#handerright
{
    background-image:url("../images/hander.png");
    height:100%;
    float:left;
    margin:0;
    padding:18px 0px 0px 0px;
}
#handerright input
{
    margin-left:2px;
    margin-right:2px;
}
span.handerserverdate
{
    height:22px;
    line-height:22px;
    overflow:hidden;
    float:right;
    margin-right:20px;
    margin-top:5px;
}
span.username
{
    width:55px;
    height:20px;
    line-height:20px;
    overflow:hidden;
    color:#699631;
    float:left;
    font-size:9px;
    margin:37px 0px 0px 38px;
}
/*头部样式结束*/

/*内容部分样式开始*/
#content
{
    width:100%;
    overflow:hidden;
    float:left;
    display:block;
    border:solid 1px #9ad452;    
}
/*内容部分样式结束*/

/*左边内容样式开始*/
#left
{
    width:180px;
    height:99%;
    float:left;
    overflow:hidden;
    display:block;
    margin-top:2px;
    border-left:1px solid #699631;
    border-right:1px solid #699631;
    background-color:#f0fde0;
}
/*菜单项*/
.menuitem
{
    width:180px;
    float:left;
    overflow:hidden;
    display:block;
}
/*菜单标题*/
span.menutitle
{
    width:170px;
    height:27px;
    padding-left:10px;
    line-height:27px;
    float:left;
    overflow:hidden;
    display:block;
    cursor:pointer;
    background-image:url("../images/menutitle.png");
}
/*菜单子项*/
div.menuelement
{
    width:60px;
    height:75px;
    float:left;
    overflow:hidden;
    display:block;    
}
/*菜单子项图标*/
img.meunico
{
    width:40px;
    height:40px;
    border:none;
    cursor:pointer;
    margin:10px 10px 5px 10px;
}
a.menulink
{
    width:50px;
    height:20px;
    line-height:20px;
    float:left;
    font-size:12px;
    overflow:hidden;
    padding:0px 5px 0px 5px;
}
/*左边内容样式结束*/

/*右边内容样式开始*/
#right
{
    height:99%;
    margin:2px 2px 2px 2px;
    float:left;
    display:block;
    overflow:auto;
    position:relative;
}
/*右边内容样式结束*/

/*底部样式开始*/
#bottom
{
    width:100%;
    height:23px;
    line-height:23px;
    overflow:hidden;
    float:left;
    display:block;
    border:none;
    background-image:url("../images/status.png");
    text-align:left;
}
span.version
{
    height:23px;
    line-height:23px;
    overflow:hidden;
    float:left;
    text-align:left;
    display:block;
    border:none;
    margin-left:10px;
}
/*底部样式结束*/
