body
{
    background-image: url("../images/bg.png");
}
.loginPanel
{
    background-image: url("../images/loginpanel.png");
    width: 483px;
    height: 251px;
    margin: 5px;
    position: relative;
    left: 400px;
    top: 181px;
    overflow: hidden;
}
.container
{
    width: 211px;
    height: 113px;
    padding-top: 40px;
    padding-left: 25px;
    float: left;
    position: relative;
    left: 220px;
    top: 68px;
}
.loginPanel img
{
    width: 60px;
    height: 18px;
    margin: 2px;
}
.loginPanel span
{
    width: 40px;
    height: 22px;
    float: left;
    text-align: right;
    line-height: 22px;
}
span.version
{
    width: 90px;
    height: 22px;
    margin: 0px;
    padding: 0px;
    display: block;
    line-height: 22px;
    position: relative;
    top: 222px;
    left: -40px;
}
.reflection
{
    background-image: url("../images/loginpanelback.png");
    width: 483px;
    height: 107px;
    margin: 5px;
    position: relative;
    left: 400px;
    top: 181px;
    overflow: hidden;
}
span.error
{
    width: 150px;
    height: 22px;
    margin: 0px;
    padding: 0px;
    display: block;
    line-height: 22px;
    position: relative;
    top: 222px;
    left: -40px;
    overflow:hidden;
    color:Red;
}
#captche
{
    cursor:pointer;
}
