@import url("Base.css");
.div_All
{
    width: 100%;
    padding: 0;
    margin: 0;
}
.div_Body
{
    width: 100%;
    margin: 0 auto;
}
.Body_Title
{
    font-size: 13px;
    line-height: 28px;
    text-indent: 10px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #0083DB;
}
.Body_Search
{
    width: 100%;
    background-color: #F0F0E8;
    height: 30px;
    line-height: 30px;
    text-indent: 15px;
}
.Body_Mes
{
    width: 98%;
    margin: 0 auto;
}
.Admin_Table
{
    width: 100%;
    border: 1px solid #B3CCF2;
}
.Admin_Table_Title
{
    background-image: url(../Images/whood.gif);
    font-size: 14px;
    height: 23px;
    color: #0080CE;
}
.Admin_Table_Title th, .Admin_Table td
{
    border-right: #B3CCF2 1px solid;
    border-bottom: #B3CCF2 1px solid;
    line-height: 23px;
    padding-left: 5px;
}

.LeftNote
{
    width: 182px;
    margin: 0px;
    padding: 0px;
}
img
{
    border: 0px;
    vertical-align: middle;
}
table
{
    width: 100%;
    margin: 0px auto;
}
.MenuNote
{
    margin: 0px;
    padding: 0px;
    display: none;
}
.Menu
{
    cursor: pointer;
    line-height: 30px;
    display: block;
    color: #FF0000;
    text-align: center;
    background: url(../Images/menu_bgS.gif) no-repeat;
    font-weight: bolder;
    font-size: 13px;
    height: 30px;
}
.MenuUL
{
    width: 182px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.MenuUL li
{
    line-height: 26px;
    color: #333333;
    list-style-type: none;
    display: block;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.MenuUL a:link, .MenuUL a:visited, .MenuUL a:active
{
    color: #333333;
    background-image: url(../Images/menu_bg1.gif);
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    text-decoration: none;
    height: 26px;
}
.MenuUL a:hover
{
    color: #CC0000;
    background-image: url(../Images/menu_bg2.gif);
    background-repeat: no-repeat;
    text-align: center;
    display: block;
    text-decoration: underline;
    height: 26px;
}
.MesNote
{
    margin: 2px auto;
    text-align: center;
}
.TipMes
{
    font-weight: bolder;
    line-height: 30px;
    margin: 2px;
    padding-left: 20px;
}
.WarnMes
{
    font-size: 19px;
    font-weight: bolder;
    color: #FF3300;
    margin: auto 2px;
}
.page_Left
{
    width: 25%;
    height: 100%;
    float: left;
}
.page_Right
{
    width: 74%;
    height: 100%;
    float: right;
    text-align: right;
}
.SeeImg
{
    margin: auto 10px;
}
.pageBtn
{
    margin: 0px 3px;
}
.TIP
{
    cursor: pointer;
}
body
{
    margin: 0px;
    border: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: auto;
    font-size: 12px;
}
.nm_1
{
    width: 10%;
    text-align: center;
}
.nm_2
{
    width: 20%;
    text-align: left;
}
.nm_3
{
    width: 20%;
    text-align: center;
    color: Black;
}
a:link
{
    text-decoration: none;
    color: Blue;
}
a:visited
{
    text-decoration: none;
    color: Blue;
}

.nm_4
{
    width: 20%;
    text-align: center;
}
.nm_5
{
    width: 30%;
    text-align: left;
    text-decoration: none;
    color: Black;
}
.cm_01
{
    width: 20%;
    text-align: center;
}
.cm_02
{
    width: 50%;
    text-align: center;
}
.cm_03
{
    width: 30%;
    text-align: center;
}
.table_bgcolor
{
    width: 90%;
    background-color: #8CB2F8;
}





.right_Page
{
    text-align: right;
    height: 30px;
}


#Right_Seach
{
    text-align: right;
    font-size: 14px;
    width: 50%;
}
#Reght_IS
{
    width: 50%;
}


.au_01
{
    width: 10%;
}
.au_02
{
    width: 15%;
}
.au_03
{
    width: 20%;
}
.au_04
{
    width: 15%;
}
.au_05
{
    width: 20%;
}
.au_06
{
    width: 20%;
}

#order_back
{
    text-align: center;
}

.table_width
{
    width: 90%;
}
.Right
{
    width: 90%;
    border: solid 1px #8CB2F8;
}
#News_Xiangxi
{
    text-align: center;
    font-size: 16px;
    color: Red;
    font-weight: bold;
}




.lw_01
{
    width: 5%;
}
.lw_02
{
    width: 15%;
}
.lw_03
{
    width: 5%;
}
.lw_04
{
    width: 15%;
    text-align: left;
}
.lw_05
{
    width: 5%;
}
.lw_06
{
    width: 15%;
}
.lw_07
{
    width: 20%;
    text-align: left;
}
.lw_08
{
    width: 10%;
}
.lw_09
{
    width: 10%;
}
#right_list
{
    text-align: center;
    border: solid 1px #8CB2F8;
}


.order_user
{
    border: solid 1px #8CB2F8;
    width: 50%;
}
#order_table
{
    text-align: center;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
}
#order_Xx
{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.upload_title_bg
{
    width: 15%;
    text-align: right;
    background-image: url("../../admin/Bgimage/bg.gif");
}
.upload_text_bg
{
    width: 50%;
    text-align: left;
    background-image: url("../../admin/Bgimage/bg.gif");
}
.upload_contents
{
    width: 35%;
    text-align: left;
    background-image: url("../../admin/Bgimage/bg.gif");
}




.pages
{
    color: #999;
}
.pages a, .pages .cpb
{
    text-decoration: none;
    float: left;
    padding: 0 5px;
    border: 1px solid #ddd;
    background: #ffff;
    margin: 0 2px;
    font-size: 11px;
    color: #000;
}
.pages a:hover
{
    background-color: #E61636;
    color: #fff;
    border: 1px solid #E61636;
    text-decoration: none;
}
.pages .cpb
{
    font-weight: bold;
    color: #fff;
    background: #E61636;
    border: 1px solid #E61636;
}
